<div class="container pt-3">
    <img src="/wiki/images/7R_Logo_Small.png" alt="7R Logo" style="float:right;width:100px;">
    <h1>[7R] Ranger Handbook - Introduction</h1>
    <p>Welcome to the [7R] Ranger Handbook, a comprehensive guide to techniques, tactics and procedures used within the
        7th Ranger Group. Browse the different categories to
        find the information you are looking for.</p>

    <img src="/wiki/images/LeaderTeam.jpg" alt="7R Logo" style="float:right;width:500px;">

    <ul>
        <li>
            <a href="/handbook/Getting_Started">Section 1 - Getting Started</a>
        </li>
        <li>
            <a href="/handbook/Structure">Section 2 - Structure</a>
        </li>
        <li>
            <a href="/handbook/Communication">Section 3 - Communication</a>
        </li>
        <li>
            <a href="/handbook/Basic_Infantry_Skills">Section 4 - Basic Infantry Skills</a>
        </li>
        <li>
            <a href="/handbook/Medical">Section 5 - Medical</a>
        </li>
        <li>
            <a href="/handbook/Battle_Drills">Section 6 - Battle Drills</a>
        </li>
        <li>
            <a href="/handbook/Tactics_Leadership">Section 7 - Tactics & Leadership</a>
        </li>
        <li>
            <a href="/handbook/Combined_Arms">Section 8 - Combined Arms</a>
        </li>
        <li>
            <a href="/handbook/Echo_Platoon_Support">Section 9 - Echo Platoon Support</a>
        </li>
        <li>
            <a href="/handbook/Rotary_Aviation">Section 10 - Rotary Aviation</a>
        </li>
        <li>
            <a href="/handbook/Reconnaissance">Section 11 - Reconnaissance</a>
        </li>
        <li>
            <a href="/handbook/Armour">Section 12 - Armour</a>
        </li>
        <li>
            <a href="/handbook/Fixed_Wing">Section 13 - Fixed Wing Aviation</a>
        </li>
        <li>
            <a href="/handbook/Procedures_and_Regulations">Procedures and Regulations</a>
        </li>
        <li>
            <a href="/handbook/Debrief">Debrief</a>
        </li>
        <li>
            <a href="/handbook/Qualifications">Qualifications</a>
        </li>
    </ul>
</div>
