<div class="container pt-3">
    <img class="float-end element-icon" src="/wiki/images/BFT_F1.png" title="BFT_F1.png" alt="BFT_F1.png">
    <h2 id="introduction">Introduction</h2>
    <p>The purpose of an armoured unit is to support an infantry platoon. Unlike some might think, armoured units are not invulnerable.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Strengths</strong></span> - Armoured units are resistant to small arms fire and are usually highly lethal weapon platforms.</li>
        <li><span style="color:#087b08"><strong>Weaknesses</strong></span> - Limited awareness due to limited field of view. Vulnerable to Anti-Tank Weapons. Their effectiveness is defined by the skills and teamwork of its crew.</li>
    </ul>
    <h2 id="deployment_certification">Deployment &amp; Certification</h2>
    <p>7th Rangers deploys a wide range of armoured vehicles, they play a supporting role to infantry on the battlefield and are under the command of the platoon commander.</p>
    <p>The <span style="color:#087b08">armoured vehicle certification</span> we employ, ensures that armoured elements on the battlefield can provide a base level of proficiency in the role. The vehicle commander is <strong>required</strong> to be a holder of this certification. The gunner and driver positions of an armoured vehicle can be filled by members without the certification but are required to take part in the Training. In the event multiple people volunteered for the role of gunner or driver, the member that holds the armoured vehicle certification is given priority.</p>
    <h2 id="terminology">Terminology</h2>
    <p><img src="/wiki/images/Hull_down_tank_diagram.png" title="Examples of exposed, hull-down, turret-down and hide positions." width="600" alt="Examples of exposed, hull-down, turret-down and hide positions." /> <img src="/wiki/images/Sky-lined_tank.png" title="An example of skylining (left) and a position with a background (right) in turret-down and hull-down positions." width="200" alt="An example of skylining (left) and a position with a background (right) in turret-down and hull-down positions." /></p>
    <ul>
        <li><span style="color:#087b08"><strong>Hull-down &amp; Turret-down</strong></span> - A position the vehicle can assume where either its turret, or only the periscope, is visible to the enemy. The rest of the vehicle is masked behind cover or terrain.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Hide position</strong></span> - A position where the vehicle is completely masked behind cover or terrain.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Skylining</strong></span> - The undesirable act of appearing as a silhouette against the sky.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Jockeying</strong></span> - The act of movement in such a way as to appear to the enemy in an unpredictable location.
            <ul>
                <li>A vehicle reverses into hide position, moves laterally ("Jockey left", "Jockey right") in this position. Then the vehicle finally drives forward either into a hull-down position, or proceeds over the crest at maximum speed.</li>
            </ul></li>
    </ul>
    <figure>
        <img src="/wiki/images/sidescraping.jpg" title="Sidescraping" width="500" alt="Sidescraping" /><figcaption aria-hidden="true">Sidescraping</figcaption>
    </figure>
    <h2 id="roles_responsibilities">Roles &amp; Responsibilities</h2>
    <ul>
        <li><span style="color:#087b08"><strong>Commander</strong></span> - Leader of the Unit.
            <ul>
                <li>Execute the orders of their superior.</li>
                <li>Instruct the driver on where and how to move the vehicle.</li>
                <li>Setting scan sectors for the gunner.</li>
                <li>Instructing the gunner to engage a target (CIE).</li>
                <li>Communicate and coordinate with other elements on the battlefield.</li>
                <li>Operate the vehicle's countermeasures.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Driver</strong></span> - Operates the vehicle's movement.
            <ul>
                <li>Control the vehicle.</li>
                <li>Spot threats to the vehicle during movement, like mines and IEDs.</li>
                <li>Operate the Engine Smoke generator System (ESS).</li>
                <li>Perform basic repairs on the vehicle.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Gunner</strong></span> - Operates the main weapon.
            <ul>
                <li>Scan for targets.</li>
                <li>Call out spotted targets.</li>
                <li>Engage targets.</li>
            </ul></li>
    </ul>
    <h2 id="commander_initiated_engagement_cie">Commander Initiated Engagement (CIE)</h2>
    <p>Commander Initiated Engagement is similar to an infantry contact report, but is tailored for use by the crew of an armoured vehicle. It is important for the commander to be quick, clear and concise with their report. A CIE consists of these parts:</p>
    <ol>
        <li><span style="color:#087b08"><strong>Alert</strong></span> - Calling to the position "Gunner" is recommended, however the infantry version "Contact" is also acceptable. This will alert the gunner a CIE is about to follow.</li>
        <li><span style="color:#087b08"><strong>Orient</strong></span> - Orient the gunner to the spotted target. Both compass bearing and distance are given.</li>
        <li><span style="color:#087b08"><strong>Describe</strong></span> - A quick description of the target.</li>
        <li><span style="color:#087b08"><strong>Feedback</strong></span> - When the gunner observes the target, they will respond with "On" or "On target". If the gunner cannot find they target, they will call out "Not seen" to let the commander know the CIE need to be expounded.</li>
        <li><span style="color:#087b08"><strong>Weapon type (optional)</strong></span> - The commander can designate a weapon or ammo type to use on the target.</li>
        <li><span style="color:#087b08"><strong>Engage</strong></span> - "FIRE". To save time the commander may also give the command "Fire when ready" after step 3.</li>
    </ol>
    <h3 id="example_full_cie">Example Full CIE</h3>
    <ol>
        <li>Commander: "Gunner"</li>
        <li>Commander: "Orient 160, distance 500 meters"</li>
        <li>Commander: "AT Soldier"</li>
        <li>Gunner: "On target"</li>
        <li>Commander: "Use machine gun"</li>
        <li>Commander: "Fire"</li>
    </ol>
    <h3 id="example_short_cie">Example Short CIE</h3>
    <ol>
        <li>Commander: "Gunner"</li>
        <li>Commander: "Orient 245, distance 300 meters"</li>
        <li>Commander: "MBT, next the white building"</li>
        <li>Commander: "Fire when ready"</li>
    </ol>
    <h2 id="rules_of_engagement_roe">Rules of engagement ( RoE )</h2>
    <p>Not to Engage - Targets not allowed to be engaged.</p>
    <p>- Hospitals, Refugee Camps or any alike.</p>
    <p>- Medical Vehicles and Personnel.</p>
    <p>- Places of Worship (churches or mosques).</p>
    <p>- HE Within 25m of fragile objectives. (100m for HE-Frag)</p>
    <p>- HE Within 25m of ground teams. (100m for HE-Frag)</p>
    <p>- Historic Sites / Cultural Treasures / Safe Zones</p>
    <h2 id="vehicle_types">Vehicle Types</h2>
    <p>During our operations, you may have to crew one of these vehicle types.</p>
    <ul>
        <li><span style="color:#087b08"><strong>MRAP</strong></span> <em>(Mine-Resistant Ambush Protected)</em> - Of the armoured vehicles, MRAPs have the lightest armour and are usually equipped with either a single heavy machine gun or automatic grenade launcher. These wheeled vehicles are mainly used for infantry transport and defence, and only rarely used in combat situations. MRAPs have a crew of two, consisting of a driver and gunner. Examples are the Hunter and Ifrit.</li>
        <li><span style="color:#087b08"><strong>APC</strong></span> <em>(Armoured Personnel Carrier)</em> - APCs are light or medium armoured vehicles designed to transport infantry and equipment in combat zones. APCs may be unarmed, or armed with some combination of light, medium, heavy machine guns, or automatic grenade launchers for self-defence. Both wheeled and tracked APCs exist, are often amphibious and have a crew of two or three. The crew consists of a driver, gunner and optionally a dedicated commander. Examples are the M113 and BTR.</li>
        <li><span style="color:#087b08"><strong>IFV</strong></span> <em>(Infantry Fighting Vehicle)</em> - IFVs are similar to APCs in their role of transporting infantry in combat zones, but they also have the possibility of providing direct-fire support. In a way they are a middleground between an APC and MBT. IFVs are typically tracked, but wheeled variants exist. The armament of an IFV can consist of automatic cannons, low or medium velocity guns, ATGMs or automatic grenade launchers. IFVs require a crew of three to operate, consisting of a driver, gunner and commander. Examples are the M2 Bradley and BMP.</li>
        <li><span style="color:#087b08"><strong>MBT</strong></span> <em>(Main Battle Tank)</em> - MBTs are the most heavily armed and armoured among mechanized forces. These vehicles are exclusively tracked and are armed with high-caliber, high velocity guns. The MBTs main armament is usually supplemented with two or more heavy machine guns to engage infantry and light vehicles. MBTs typically have a crew of three or four, consisting of a driver, gunner and commander and an optional loader in some MBT variants. Examples are the M1 Abrams and T-80.</li>
    </ul>
    <h2 id="ammo_and_weapon_types">Ammo and Weapon Types</h2>
    <p>Each Commander and Gunner has to know when and what ammo type or weapon system he should use, as we have quite a variety when it comes to ammo types, here's a list and their correct usage.</p>
    <ol>
        <li><span style="color:#087b08"><strong>Rifle caliber / heavy Machine Guns</strong></span>: These should be used to mainly combat Infantry and usually have a larger ammo reserve.</li>
    </ol>
    <ol>
        <li><span style="color:#087b08"><strong>Autocannons</strong></span> : These usually range from 20mm to 35mm, in general there's two ammo types HE and APDS, HE is used to effectively combat larger groups of infantry and lightly armored vehicles such as trucks and technicals, while APDS is used against other IFVs, heavily armored APCs,  or even to a very limited extend MBTs when hitting from the sides and back, in general Autocannon ammo should be strongly conserved as it is the main weaponry of an IFV and has limited ammo reserve, which is especially true for the APDS as these have a very limited supply and should be used with care more so than the HE, as always Targets should be Flanked for maximum effect.</li>
    </ol>
    <ol>
        <li><span style="color:#087b08"><strong>ATGM</strong></span> : These powerful missiles are only used against the most heavily armored targets, IFVs such as the Bradley come with various ammo types such as:</li>
    </ol>
    <p>The TOW 2A anti-tank missile For penetration of tanks protected with explosive reactive armour (ERA), TOW 2A is equipped with a tandem warhead. A small disruptor charge detonates the reactive armour and allows the main shaped charge to penetrate the main armour.</p>
    <p>TOW 2A bunker buster missile, a ‘bunker buster' variant of the TOW 2A, to defeat field fortifications, bunkers and urban structures.</p>
    <p>TOW 2B Aero anti-tank missile, an extended range TOW 2A missile, TOW 2B Aero, has a range of 4.5km, which is achieved in only a few seconds longer than the flight time of TOW 2A to 3.75km.</p>
    <ol>
        <li><span style="color:#087b08"><strong>AA</strong></span> Some IFVs come equipped with AA missiles such as the M6 Linebacker, these are primarily used to shoot down enemy Aerial Units.</li>
    </ol>
    <ol>
        <li><span style="color:#087b08"><strong>Medium to Heavy machine guns</strong></span> These are primarily used against infantry and Enemy Helicopters, most Soviet Tanks have a commander cupola mounted High Caliber machine gun for dedicated Anti Air duty.</li>
    </ol>
    <ol>
        <li><span style="color:#087b08"><strong>Main Gun</strong></span> The Main gun of modern MBTs are usually of high caliber ( 105mm and up with 120mm and 125mm being the most common) it should be noted that on Opfor Tanks once a shell has been loaded it cannot be changed out, so switching from APDS to HE for example can only be done trough Firing this is due to the autoloading system, the Ammo types are as follows:</li>
    </ol>
    <p>APDS - used against other enemy Tanks, should be used sparingly as ammo is limited.</p>
    <p>HEAT-MP-T - is a chemical energy, multipurpose projectile with an anti-personnel capability, has very limited effectiveness against heavy armor especially those fitted with ERA. (Explosive Reactive Armor.)</p>
    <p>HEAT-FS (Opfor Tanks only) - This chemical shell is highly effective against Tanks that are not protected by ERA.</p>
    <p>HE-FRAG ( Opfor Tanks only) - This is a very effective High explosive Fragmentation shell against groups of infantry.</p>
    <p>ATGM ( Opfor Tanks only) - These Are manually guided highly effective Precision Anti Tank missiles and are very effective against any Target but should be spared for highly Armored Targets, they are not affected by ERA.</p>
    <h2 id="tactics">Tactics</h2>
    <p>Here is a list of Tactics that should give people a general idea on what to do or expect in the field.</p>
    <p>the general rule of thumb of how to assault the enemy is as follows: If spotted covering fire or smoke by friendlies or the vehicle, mask movement disengage and reengage from another angle. If undetected, scout the emplacement for weak spots dead angels e.t.c then engage and make sure you have cover to fall back to. “The opponent is preferably to be attacked from the flank, barriers are to be avoided” Mobility and firepower is key.</p>
    <ol>
        <li><span style="color:#087b08"><em>Foot Recon &amp; Ground Guides</em></span></li>
    </ol>
    <p>When the tactical situation permits it, the commander of a vehicle can dismount from the vehicle to do a 'foot recon'. This is typically done when the vehicle is about to crest some significant terrain feature. Dismounting and checking over the crest 'on foot' allows for the commander to decide on where possible enemy threats might be, locate obvious threats, and choose on where and how to crest the terrain, where his gunner should be aiming when they crest, and so forth. Ground guides, on the other hand, are infantry who walk in front of a vehicle to guide it through a tricky area. Ground guides can be used to get a vehicle positioned specifically where the infantry need it, to help guide vehicles through a potentially mined area, or to help them navigate through tight or confusing terrain.</p>
    <ol>
        <li><span style="color:#087b08"><em>Guidelines for Armor when working with Infantry</em></span></li>
    </ol>
    <p>Infantry are squishy. Particularly in close terrain, make an effort to not run over them. They really don't appreciate becoming tread grease. Be mindful of overpressure dangers to the infantry. don't fire the main gun of a tank when in proximity of infantry unless absolutely necessary, or if you are positive that supporting infantry are clear of the overpressure danger zone. Let the infantry lead in close terrain. An anti-armor ambush will wait for vehicles to present themselves before firing. If infantry are leading, they will have an opportunity to spot the hidden ambush elements before the armor comes into view, since the ambushing elements will typically be waiting to fire. If necessary, the armored vehicle commander can dismount to talk directly with the supporting infantry. Do so in cover, of course. This can be useful for 'terrain familiarization' discussions.</p>
    <ol>
        <li><span style="color:#087b08"><em>Guidelines for Infantry when working with Armor</em></span></li>
    </ol>
    <p>Keep a healthy distance from the armor. Armored vehicles have a hard time seeing infantry close to them. Since you're a squishy infantryman, it's a good idea to keep your distance from the armor. In particular, you want to avoid being behind them unless they are deliberately providing cover for friendly infantry. If not, they are apt to throw into reverse without any warning, which can result in pancaked infantry quite easily.</p>
    <p>Watch out for overpressure from tank main guns. The blast overpressure that comes from the main gun being fired can severely injure anyone nearby. Stay clear of tanks when they are likely to be employing the main gun.</p>
    <p>Screen the tank in close terrain, ensure infantry are moving ahead of it as well. Infantry should be moving in a fashion that allows them to observe and cover any threat avenues before the tank becomes visible to them. This is intended to spot ATGMs, RPG teams, and other infantry threats so that the armor can be warned, or the infantry can kill them before they have a chance to do anything.</p>
    <p>Identify and communicate threats to the armor. Whenever a known or suspected threat is identified, the armor should be informed of it as appropriate. If the threat is high, this typically means that the armor will be told to stop while the infantry clear it out.</p>
    <p>Identify and communicate any threats to the infantry that the armor can instead handle. Some threats will exist that will not be a danger to the armor, but may pose a severe threat to infantry. Typically, these take the form of enemy infantry concentrations, snipers, machine-gun bunkers, and other forces that can hurt infantry yet do not pose a threat to armor. When these are identified, it is the job of the infantry to direct the armor so that the armor can eliminate the threat.</p>
    <p>Be aware of the armor's breaching abilities, and request them when appropriate. <img src="/wiki/images/ttp3_illustration_03.png" title="Optimal Formation of infantry and Tanks in Urban Environment." width="400" alt="Optimal Formation of infantry and Tanks in Urban Environment." /></p>
    <p>Armor can act as part of the base of fire, freeing up more infantry to participate in an assault. While you will generally want to keep infantry with the armored base of fire to provide close protection, you won't need as many people in the actual base of fire due to the magnified optics and powerful weapons of the armor being a force multiplier.</p>
    <ol>
        <li><span style="color:#087b08"><em>Breaching with Armor</em></span></li>
    </ol>
    <p>Breaching a wall with the help of an armored vehicle is a good way to surprise defending enemy forces and give your infantry a fighting chance. Typical enemy defenses focus on natural "choke points" such as a central entry to a compound that is otherwise walled off. Breaching a wall in an unexpected place and attacking through the breach is an excellent way to catch the enemy off guard and destroy them before they can shift their defenses.</p>
</div>
