<div class="container pt-3">
    <h2 id="navigation">Navigation</h2>
    <p>It is essential to understand how to read a map and use tools to find your location and any other target location on the map. Also being able to Navigate based on your position and your target position.</p>
    <h3 id="reading_the_map">Reading the Map</h3>
    <h4 id="grid">Grid</h4>
    <p>ArmA uses a 6-digit grid system (3x3). Grid coordinates are being read in the following way: first 3 right, then up. On a 6-digit grid system one side of a grid is 100 meters which makes a grid an area of 100 x 100 meters.</p>
    <figure>
        <img src="/wiki/images/MapGrid.png" title="MapGrid.png" width="300" alt="MapGrid.png" />
    </figure>
    <p>Given that you know your own grid coordinate, you only know that you are in an area the size of 100 x 100 meters. Therefor you need to learn on how to take all information displayed on the map to be able to find your exact location.</p>
    <h4 id="landmarks_and_objects">Landmarks and Objects</h4>
    <p>The displays Forests, Trees, Buildings, Roads, Water, and many other Landmarks and information. You need to learn how to transfer something you see onto the map and vice versa. Often it can be easier to navigate by landmarks opposed to bearings and distances.</p>
    <h4 id="contour_lines">Contour Lines</h4>
    <p>Contour Lines are information which are displayed based on your zoom level on the map. Each line marks a difference in height. You can add the amount of contour line between you and a point on the map, then multiply it with the Contour Line Scale and you have the height difference between two points.</p>
    <h4 id="hill_numbers">Hill Numbers</h4>
    <p>These are the numbers scattered on the map. They mark the height of hills or mountains. They can be used as references such as "Hill 362". Note that they are dynamic based on zoom level. Therefore you need to be specific.</p>
    <h4 id="finding_spotted_objects_on_the_map">Finding spotted objects on the map</h4>
    <p>Basic Method:</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Step 1: Find your Location</strong> </span> - You should always know your exact location on the Map.</li>
        <li><span style='color:#087b08'> <strong>Step 2: Compass Bearing</strong> </span> - You need the Compass Bearing of the spotted object relative to your position.</li>
        <li><span style='color:#087b08'> <strong>Step 3: Distance</strong> </span> - You need the Distance between you and the spotted object.</li>
        <li><span style='color:#087b08'> <strong>Step 4: Combine</strong> </span> - Your position is the starting point. The Compass Bearing is a line starting at your position at the Compass Bearing direction. Lastly the Distance is the point on that line which marks the object's location.</li>
    </ul>
    <p>Often it is easier to use distinctive reference points:</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Step 1: Find your Location</strong> </span> - You should always know your exact location on the Map.</li>
        <li><span style='color:#087b08'> <strong>Step 2: Find a distinctive Reference</strong> </span> - Any distinctive Landmark in the general direction of the spotted object which you found on the map and you have eyes on.</li>
        <li><span style='color:#087b08'> <strong>Step 3: Object Location from Reference</strong> </span> - Since you know the location of your Reference you need the relation of your object and the Reference and with that you know the object's map location.</li>
    </ul>
    <p>Notice that it is often enough to know the approximate location on the map for spotting targets, like artillery. Since the artillery might not be 100% accurate in the first place, and secondly you can call corrections after an initial strike, correcting based on the last fire mission.</p>
    <h3 id="gps">GPS</h3>
    <p>The GPS is showing your exact grid location on the map and your height above sea level. The GPS overlay (activate with [Right Ctrl] + [M]) also shows the Compass Bearing you are looking at. All information are in real time.</p>
    <h3 id="map_tools">Map Tools</h3>
    <p>Map tools can be displayed by using ACE-Self Interaction while on the map screen and select show Map Tools. There is a small version and a normal version. Other than for Mortar Fire Support the small version is enough. Once selected to show it will appear at the bottom right corner of the map. You can drag it wherever you need it. In order to rotate it around hold alt while dragging with your mouse.</p>
    <figure>
        <img src="/wiki/images/MapToolsFinal.png" title="MapToolsFinal.png" width="500" alt="MapToolsFinal.png" />
    </figure>
    <p>Bearing in degrees is used by default. Mils are only relevant for Artillery Fire Support. More details can be found in the <a href="https://ace3mod.com/wiki/feature/maptools.html">ACE3 Documentation</a>.</p>
    <h3 id="map_markers">Map Markers</h3>
    <p>Map Markers are displayed based on the channel they are broadcasted in. You can find the channel you are in at the bottom of your map. Generally we use "Side" channel for markers. There might be situations where Markers will only be put on "Group" or "Command" channel.Cycle through channels with [,], [.], note that these are the default keybindings. To place a marker double click on the map.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Channel</strong></p></td>
            <td><p><strong>Recipients</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>Global</p></td>
            <td><p>All Players</p></td>
        </tr>
        <tr class="odd">
            <td><p>Side</p></td>
            <td><p>Your Faction</p></td>
        </tr>
        <tr class="even">
            <td><p>Command</p></td>
            <td><p>All Faction's Leaders</p></td>
        </tr>
        <tr class="odd">
            <td><p>Group</p></td>
            <td><p>Group Members</p></td>
        </tr>
        <tr class="even">
            <td><p>Vehicle</p></td>
            <td><p>All Players in same Vehicle</p></td>
        </tr>
        <tr class="odd">
            <td><p>Direct</p></td>
            <td><p>Players in close distance</p></td>
        </tr>
        </tbody>
    </table>
    <p>Furthermore there are also the options to point at the map [LMB] (visible to people in close proximity) or to draw on map [ALT] + [LMB] (channels apply like for map markers). To delete markers and drawings hover over and [DEL].</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Marker</strong></p></td>
            <td><p><strong>Pointing</strong></p></td>
            <td><p><strong>Drawing</strong></p></td>
        </tr>
        <tr class="even">
            <td><figure>
                <img src="/wiki/images/MapMarker.png" title="MapMarker.png" width="200" alt="MapMarker.png" />
            </figure></td>
            <td><figure>
                <img src="/wiki/images/MapPointing.png" title="MapPointing.png" width="200" alt="MapPointing.png" />
            </figure></td>
            <td><figure>
                <img src="/wiki/images/MapDrawning.png" title="MapDrawning.png" width="200" alt="MapDrawning.png" />
            </figure></td>
        </tr>
        </tbody>
    </table>
    <p>There are some guidelines when it come to markers:</p>
    <ul>
        <li>unique</li>
        <li>simple</li>
        <li>short</li>
        <li>meaningful</li>
    </ul>
    <p>Use a letter and number combination, if useful the time you placed the marker (e.g. EI 4 - 12:00 NW = Enemy Infantry 4 men moving north west marked at 12:00). Usually use the "Dot" marker.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Marker</strong></p></td>
            <td><p><strong>Meaning</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>"EI" + Number</p></td>
            <td><p>Enemy Infantry (number as count)</p></td>
        </tr>
        <tr class="odd">
            <td><p>"BTR" + Number</p></td>
            <td><p>BTR</p></td>
        </tr>
        <tr class="even">
            <td><p>"APC" + Number</p></td>
            <td><p>APC</p></td>
        </tr>
        <tr class="odd">
            <td><p>"BNK" + Number</p></td>
            <td><p>Bunker</p></td>
        </tr>
        <tr class="even">
            <td><p>"TNK" + Number</p></td>
            <td><p>Tank</p></td>
        </tr>
        <tr class="odd">
            <td><p>"AA" + Number</p></td>
            <td><p>Anti Air</p></td>
        </tr>
        <tr class="even">
            <td><p>"AT" + Number</p></td>
            <td><p>Anti Tank</p></td>
        </tr>
        <tr class="odd">
            <td><p>"TECH" + Number</p></td>
            <td><p>Technical</p></td>
        </tr>
        <tr class="even">
            <td><p>"50c" + Number</p></td>
            <td><p>50cal HMG (Static)</p></td>
        </tr>
        <tr class="odd">
            <td><p>"OP" + Number</p></td>
            <td><p>Overwatch Position</p></td>
        </tr>
        <tr class="even">
            <td><p>"WP" + Number</p></td>
            <td><p>Waypoint</p></td>
        </tr>
        <tr class="odd">
            <td><p>"WA" + Number</p></td>
            <td><p>Waypoint Alpha (...)</p></td>
        </tr>
        <tr class="even">
            <td><p>"C" + Number</p></td>
            <td><p>Compound when place on a compound for better reference.</p></td>
        </tr>
        <tr class="odd">
            <td><p>Number (on a Building)</p></td>
            <td><p>Building Number for reference</p></td>
        </tr>
        <tr class="even">
            <td><p>Dot no Text on Building</p></td>
            <td><p>Building Cleared</p></td>
        </tr>
        <tr class="odd">
            <td><p>"LZ" /+ Name</p></td>
            <td><p>Landing Zone</p></td>
        </tr>
        <tr class="even">
            <td><p>"DZ" /+ Name</p></td>
            <td><p>Drop Zone</p></td>
        </tr>
        <tr class="odd">
            <td><p>"EZ" /+ Name</p></td>
            <td><p>Extraction Zone</p></td>
        </tr>
        <tr class="even">
            <td><p>REINF</p></td>
            <td><p>Reinforcements insertion position</p></td>
        </tr>
        <tr class="odd">
            <td><p>Gold + Number</p></td>
            <td><p>Predominantly Civilian Settlement</p></td>
        </tr>
        <tr class="even">
            <td><p>Silver + Number</p></td>
            <td><p>Predominantly Military Compound/Base</p></td>
        </tr>
        </tbody>
    </table>
    <ul>
        <li><span style='color:#087b08'> <strong>Colouring</strong> </span> - Marker in regards of Enemies should be red. Friendly markers e.g. Waypoints should be marked blue. Aviation markers should have a different colour. Generally use consistent colours to help identifying markers more efficient.</li>
        <li><span style='color:#087b08'> <strong>Numbers</strong> </span> - Each Enemy marker either on Vehicles or Bunkers should have an individual number for easier reference. This also includes Buildings, Compounds and Waypoints. Enemy Infantry markers are the only exception where the number represents the identified count of enemies spotted.</li>
        <li><span style='color:#087b08'> <strong>Name</strong> </span> - Each Name should be unique for easy reference.</li>
    </ul>
    <h3 id="rangefinder">Rangefinder</h3>
    <p>Rangefinder are tools to measure a distance. We mainly use the Vector 21. It allows you to get the distance [R] and azimuth [Tab] of your target. It takes the slot of the binoculars. Alternatively Laser designators work as well.</p>
    <figure>
        <img src="/wiki/images/Vector21.png" title="Vector21.png" width="250" alt="Vector21.png" />
    </figure>
    <p>In addition you can find the horizontal distance to a target and the height difference between your location and the target by first tapping [R] followed by hold [R]. Furthermore you can also get the distance and direction between two point. Therefor you press and hold [R]. Once the circle appears press [Tab] and keep holding [R]. Once the P-1 info appears aim at your second point and release [R]. More functions can be found in the official <a href="https://ace3mod.com/wiki/feature/vector.html">ACE3 Wiki</a>.</p>
    <figure>
        <img src="/wiki/images/VectorDistance.png" title="VectorDistance.png" width="500" alt="VectorDistance.png" />
    </figure>
    <ul>
        <li><span style='color:#087b08'> <strong>Direct Distance</strong> </span> - Used to zero weapons onto targets.</li>
        <li><span style='color:#087b08'> <strong>Horizontal Distance</strong> </span> - Used to produce an accurate map marker location. Since the map is a 2D environment. The larger the height difference the higher the deviation in distance.</li>
    </ul>
    <h3 id="navigation_video_tutorial">Navigation Video Tutorial</h3>
    <p><a href="https://www.youtube.com/watch?v=3ze67XcXwE4&amp;t">Video Tutorial: Navigation</a></p>
    <h2 id="situational_awareness">Situational Awareness</h2>
    <p>Being aware of of what is happening around you is important to understand the situation and make proper decisions.</p>
    <h3 id="general">General</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Always scan for enemies</strong> </span> - Whether you are moving or not, always scan for enemies.</li>
        <li><span style='color:#087b08'> <strong>Cover sectors</strong> </span> - Cover Sectors you are assigned to and if you do not have an assigned sector, cover the area which seemingly needs to be covered.</li>
        <li><span style='color:#087b08'> <strong>Take cover</strong> </span> - Whenever you are not moving, crouch down, find cover if possible and scan for enemies. Also always know the next piece of cover around you prior to a fire fight.</li>
        <li><span style='color:#087b08'> <strong>Stay aware</strong> </span> - There is no safe place in a combat area. Avoid "tunnel vision", do not get focused on only one small area.</li>
        <li><span style='color:#087b08'> <strong>Check the map</strong> </span> - Keep yourself up to date about your surrounding terrain, friendly locations and marked enemy positions.</li>
        <li><span style='color:#087b08'> <strong>Hard contact versus soft contact</strong> </span> - Soft contact is an enemy contact with the enemy not being alerted or aware of your position. Hard contact is an enemy contact with the enemy being aware of your location and process of engaging you or directly being in an engagement with you.</li>
        <li><span style='color:#087b08'> <strong>Squad mate radar</strong> </span> - Frequently check the the radar at the bottom of your screen displaying the location of squad mates around you</li>
    </ul>
    <figure>
        <img src="/wiki/images/ShactacRadar.png" title="ShactacRadar.png" width="300" alt="ShactacRadar.png" />
    </figure>
    <p>Inner circle is 15m, middle circle is 30m and outer circle is 50m.</p>
    <h3 id="identification">Identification</h3>
    <p>Identify your targets. You need to be able to identify friendlies, hostiles and civilians. Also scan for other threats like explosives and traps.</p>
    <ul>
        <li><span style='color:#087b08'> <strong>BLUFOR Tracking</strong> </span> - Our BLUFOR Tracking will show the locations of friendly units, more precisely the location of the leader of the friendly unit. That does not mean every friendly has to be close to a leader. Stay aware of friendly movement, positions and objectives.</li>
        <li><span style='color:#087b08'> <strong>Positive identification</strong> </span> - Do NOT fire unless you positively identified your target as hostile. Gun sounds and tracer color might help.</li>
        <li><span style='color:#087b08'> <strong>Is this ours?</strong> </span> - Is this smoke ours? Keep track of friendly positions to identify whether hostile area in the area or friendlies.</li>
    </ul>
    <h3 id="supporting_behavior">Supporting Behavior</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Signal</strong> </span> - Maybe use hand signals and see for a response when in doubt. Signal to unknown to identify yourself and look for a response.</li>
        <li><span style='color:#087b08'> <strong>Listen</strong> </span> - Not only listen to information by your teammates. Also listen for voices and gun shots. When you hear a gun shot you often hear two different sounds. First you hear a loud bang followed by a delayed quieter bang. The first bang is the bullet pacing with higher the sound speed and the resulting supersonic shockwave. The second quieter bang is the actual gun fire sound since its sound is slower than the bullet.</li>
        <li><span style='color:#087b08'> <strong>Gun safety</strong> </span> - Do not point your weapon at things you do not want to shoot.</li>
        <li><span style='color:#087b08'> <strong>Free look</strong> </span> - Use the free look in order to keep your weapon at your sector, but to look around and behind you.</li>
    </ul>
    <h2 id="movement">Movement</h2>
    <p>Movement or in other words: How not to get killed.</p>
    <h3 id="general_1">General</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Spacing</strong> </span> - Spacing is important. Unit cohesion requires a certain proximity between units although bunching up will maximize damage by explosives. Therefor ensure you are always close enough to be able to see and interact with them and on the other hand avoid bunching up.</li>
    </ul>
    <h3 id="cover_and_concealment">Cover and Concealment</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Cover</strong> </span> - Any object or terrain aspect which is capable of stopping bullets and shrapnel. Cover can be trees, solid walls, vehicle wreck, dead bodies and many more thing.</li>
        <li><span style='color:#087b08'> <strong>Concealment</strong> </span> - Anything which denies you getting spotted by the enemy.</li>
    </ul>
    <h4 id="guidelines">Guidelines</h4>
    <ul>
        <li><span style='color:#087b08'> <strong>Utilize Cover</strong> </span> - Always more from cover to cover. Whenever you are moving you should be aware of potentinal cover around you, to immediately take effective cover, incase of incoming fire.
            <ul>
                <li><span style='color:#087b08'> <strong>Out of contact</strong> </span> - Whenver you hold movement you should crouch down. Seek concealment.</li>
                <li><span style='color:#087b08'> <strong>In contact</strong> </span> - Only strictly more from cover to cover. When caught out of cover, go prone. Sprint from cover to cover when moving. Generally always go prone when holding to achive a maximum coverage. Afterwards slowly increase your exposure when aiming to return fire.</li>
                <li><span style='color:#087b08'> <strong>Urban environment</strong> </span> - Going prone might not be viable at times, because the lack of mobility versus effective cover.</li>
            </ul></li>
    </ul>
    <h4 id="stances">Stances</h4>
    <p>ArmA 3 offers a large variety of vertical ([Ctrl] + [W] or [S]) and horizontal ([Ctrl] + [A] or [D]) stance adjustments. Make sure to minimize your exposure by utilizing the different stances. There are three basic vertical stance categories and each comes with 3 versions (low/normal/height).</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Stance Indicator</strong></p></td>
            <td><p><strong>Vertical Adjustments</strong></p></td>
        </tr>
        <tr class="even">
            <td><figure>
                <img src="/wiki/images/StanceIndicatorVertical.png" title="StanceIndicatorVertical.png" alt="StanceIndicatorVertical.png" />
            </figure></td>
            <td><figure>
                <img src="/wiki/images/StancesSlideShow.png" title="StancesSlideShow.png" width="750" alt="StancesSlideShow.png" />
            </figure></td>
        </tr>
        </tbody>
    </table>
    <p>In addition to the horizontal stance adjustments you can also lean left [Q] and right [E]. Following examples are horizontal adjustments while crouching. Same applies to standing. Leaning while being prone does not work and the keys will make you roll to the according sides.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Stance Indicator</strong></p></td>
            <td><p><strong>Step-Leaning left</strong></p></td>
            <td><p><strong>Leaning left</strong></p></td>
            <td><p><strong>Normal</strong></p></td>
            <td><p><strong>Leaning right</strong></p></td>
            <td><p><strong>Step-Leaning right</strong></p></td>
        </tr>
        <tr class="even">
            <td><figure>
                <img width="295" src="/wiki/images/StanceIndicatorHorizontal.png" title="StanceIndicatorHorizontal.png" alt="StanceIndicatorHorizontal.png" />
            </figure></td>
            <td><figure>
                <img width="150" src="/wiki/images/StanceHorizontal1.png" title="StanceHorizontal1.png" alt="StanceHorizontal1.png" />
            </figure></td>
            <td><figure>
                <img width="150" src="/wiki/images/StanceHorizontal2.png" title="StanceHorizontal2.png" alt="StanceHorizontal2.png" />
            </figure></td>
            <td><figure>
                <img width="150" src="/wiki/images/StanceHorizontal3.png" title="StanceHorizontal3.png" alt="StanceHorizontal3.png" />
            </figure></td>
            <td><figure>
                <img width="150" src="/wiki/images/StanceHorizontal4.png" title="StanceHorizontal4.png" alt="StanceHorizontal4.png" />
            </figure></td>
            <td><figure>
                <img width="150" src="/wiki/images/StanceHorizontal5.png" title="StanceHorizontal5.png" alt="StanceHorizontal5.png" />
            </figure></td>
        </tr>
        </tbody>
    </table>
    <p>Note that stances influence not only exposure, they also influence accuracy, movement speed, and stamina.</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Stand:</strong> </span>
            <ul>
                <li>high profile</li>
                <li>high movement speed</li>
                <li>least exhausting while moving</li>
                <li>bad stamina recovery rate</li>
                <li>lowest accuracy while static</li>
                <li>highest accuracy while moving</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style='color:#087b08'> <strong>Crouch:</strong> </span>
            <ul>
                <li>medium profile</li>
                <li>medium movement speed</li>
                <li>highly exhausting while moving</li>
                <li>decent stamina recovery rate</li>
                <li>medium accuracy while static</li>
                <li>lowest accuracy while moving</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style='color:#087b08'> <strong>Prone:</strong> </span>
            <ul>
                <li>low profile</li>
                <li>low movement speed</li>
                <li>exhausting while moving</li>
                <li>good stamina recovery rate</li>
                <li>high accuracy while static</li>
                <li>cannot fire while moving</li>
            </ul></li>
    </ul>
    <h3 id="stamina">Stamina</h3>
    <p>Your stamina is influenced by the terrain you are operating in and the weight of your equipment. Climbing up a hill is more exhausting than moving in flat terrain. Fatigue will lead to great loss of accuracy. Having the weapon lowered while moving will also lower exhaustion. A soldier should never carry more around 35 kg. For normal out of combat movement ensure that you are normally walking with you weapon lowered for maximum stamina efficiency.</p>
    <h3 id="obstacles">Obstacles</h3>
    <p>There are a large variety of obstacles. Generally people find a way around them. One important aspect is how to utilize holes in walls. Obstacles often mean that you need to put yourself in a disadvantageous spot to pass them. Therefor you should minimize the time of your exposure.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Utilize wall gaps</strong></p></td>
        </tr>
        <tr class="even">
            <td><figure>
                <img src="/wiki/images/Obstacle1.png" title="Obstacle1.png" alt="Obstacle1.png" />
            </figure></td>
        </tr>
        <tr class="odd">
            <td><p>Pie the corners</p></td>
        </tr>
        </tbody>
    </table>
    <p>Always take the opposite side of the person in front did.</p>
    <h3 id="climbing">Climbing</h3>
    <p>We use Enhanced Movement Modification which enables players to climb over walls. Therefor you need to bind the "User Action 1". Furthermore it allows you to climb through windows, same as ACE 3 Climbing does ("Alt"+"v"). While Enhanced Movement allows you to climb all sorts of objects and buildings we demand our members to use it in a productive and realistic manner.</p>
    <h2 id="interaction">Interaction</h2>
    <p>There are various interaction options coming with the ACE modification. Generally there are two categories: Self Interaction [Left Ctrl] + [WIN] and Interaction with others [WIN]. Also there might be interactions accessible by scrolling and picking them out of the action list (default ArmA method). Here is a list of the important ones, excluding medical (see Medical Section):</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Passing Ammo</strong> </span> - You can pass ammunition to team mates by interacting with their interact symbol...</li>
        <li><span style='color:#087b08'> <strong>Team Color</strong> </span> You can change your team color under self interaction, team management...</li>
        <li><span style='color:#087b08'> <strong>Radio Template</strong> </span> You can select a radio frequency profile with self interact, team management...</li>
        <li><span style='color:#087b08'> <strong>Change Call Sign</strong></span>You can change your team color under self interaction, team management...</li>
        <li><span style='color:#087b08'> <strong>Attach Equipment</strong></span> You can attach IR Strobes and other items under self interaction, equipment...</li>
        <li><span style='color:#087b08'> <strong>Earplugs</strong></span> You can equip earplugs under self interaction, equipment...</li>
        <li><span style='color:#087b08'> <strong>Prisoner Management</strong></span> Interacting with a person will offer options like arresting, searching inventory and prisoner movement...</li>
        <li><span style='color:#087b08'> <strong>Map Tools and Light</strong></span> When on map use self interact...</li>
        <li><span style='color:#087b08'> <strong>Gestures</strong></span> Under self interact, gestures...</li>
        <li><span style='color:#087b08'> <strong>Call Supply Drop</strong></span> Only for leaders and when available in mission under self interact...</li>
    </ul>
    <p>Furthermore you can open backpacks of team mates with the action menu (scroll wheel) to access their backpack inventory, often used for equipment and ammunition transfers between soldiers.</p>
    <h2 id="weapons">Weapons</h2>
    <p>Everyone is a rifleman first. Whatever role you will take, you need to be able to accurately fire a gun, know how to operate it, and when to use it and how to use it.</p>
    <h3 id="guidelines_1">Guidelines</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Muzzle discipline</strong></span> - Do not point the gun at non targets.</li>
        <li><span style='color:#087b08'> <strong>Trigger discipline</strong></span> - Do not accidentally shot.</li>
        <li><span style='color:#087b08'> <strong>Awareness</strong></span> - Do not cross somebodies line of fire. If you have no choice alert the person before doing it.</li>
    </ul>
    <h3 id="rules_of_engagement">Rules of Engagement</h3>
    <ul>
        <li><span style='color:#087b08'> <strong>Default ROE</strong> </span> - Unless told otherwise.
            <ul>
                <li>Only open fire in defense of yourself or your team mates.
                    <ul>
                        <li>Proximity: Close enemies are posing a higher threat</li>
                        <li>Awareness: Enemies who are not aware of our presents do not pose a threat.</li>
                        <li>Potential: If proximity and awareness might not be given, though the enemy is potentially posing a high threat against other team elements.</li>
                    </ul></li>
                <li>Return fire if fired upon.</li>
                <li>Otherwise request permission to engage.</li>
            </ul></li>
        <li><span style='color:#087b08'> <strong>Weapons Free</strong> </span> - Engage all identified targets. Identification must be reasonable not absolute.</li>
        <li><span style='color:#087b08'> <strong>Weapons Hold</strong> </span> - Only engage immediate threats, excluding potential threats.</li>
    </ul>
    <p>Orders influencing engagements:</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Open Fire</strong> </span> - Permission to engage.</li>
        <li><span style='color:#087b08'> <strong>Hold Fire</strong> </span> - Maintain target focus, but do not fire.</li>
        <li><span style='color:#087b08'> <strong>Cease Fire</strong> </span> - Stop firing.</li>
    </ul>
    <h3 id="marksmanship">Marksmanship</h3>
    <p>Being able to hit a target at various ranges and speeds is more than just shooting.</p>
    <h4 id="ballistics">Ballistics</h4>
    <p>Understanding bullet trajectory is important when engaging target at ranges. Bullets drop over range. It is important to know the range of your target to adjust your aim.</p>
    <figure>
        <img src="/wiki/images/Trajectory.png" width="300" style="background-color: black" />
    </figure>
    <p>Zeroing your weapon, meaning to adjust the weapon sights to a certain range can be helpful. Otherwise you might have to take the range the weapon is configured on and either aim above or below the target to hit. If your weapon sights allow you can zero them to certain ranges using [Page Up] and [Page Down]. The distance your weapon sight has been configured for you will find on the HUD. Zeroing might be more relevant for longer engagement distances in regards of fire arms, although it is extremely important for heavier projectiles with higher drop rate like 40mm grenades or even rockets.</p>
    <figure>
        <img src="/wiki/images/WeaponRanging1.png" title="WeaponRanging1.png" width="300" alt="WeaponRanging1.png" />
    </figure>
    <p>Bullets and other projectiles need to travel to their destination. There are not instantly there. Especially when shooting at moving targets you need to mind the travel time of the bullet, meaning that you need to aim ahead your target in its direction of movement. Tracers might help to track your own fire or the fire of friendlies. If you are paired up with a machine gunner trace his fire but looking at the tracers and call corrections if needed.</p>
    <p>Factors influencing your accuracy:</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Stamina</strong></span> - Fatigue has a negative impact.</li>
        <li><span style='color:#087b08'> <strong>Stance</strong></span> - Influences accuracy.</li>
        <li><span style='color:#087b08'> <strong>Breath Control</strong></span> - Holding your breath increases accuracy temporary. Holding it for too long will massively decrease your accuracy in the short term.</li>
        <li><span style='color:#087b08'> <strong>Injuries/Pain</strong></span> - Wounds and pain negatively influence your accuracy.</li>
        <li><span style='color:#087b08'> <strong>Weapon Resting</strong></span> - Using bipods or rest your weapon will increase your accuracy [C].</li>
    </ul>
    <h4 id="reloading_and_ammunition">Reloading and Ammunition</h4>
    <p>Know when to reload can save your life. There are two different types of reload:</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Tactical Reload</strong></span> - Reloading a partially full magazine in order to get a full magazine. This can occur if the magazine is almost empty and the current fire fight is over or you advance and expect a lot of contacts. Also in CQB environments when clearing buildings. Generally whenever you will potentially need a full magazine.</li>
        <li><span style='color:#087b08'> <strong>Dry Reload</strong></span> - Reloading an empty magazine. Often especially in CQB it might make more sense to switch to pistol and continue clearing the close proximity before reloading.</li>
    </ul>
    <figure>
        <img src="/wiki/images/WeaponMag1.png" title="WeaponMag1.png" width="300" alt="WeaponMag1.png" />
    </figure>
    <p>Keep track of your ammunition. The HUD will only display the amount of magazine you have regardless of them being full or partially empty. You can check the current state of your magazine in your weapon by pressing [L Ctrl] + [R]. It will display a categorized amount of bullets in your magazine. Partial magazine can be repacked, meaning that you will pack all magazines together that you end up with as many full magazine possible out of the amount of bullets total. Repacking magazine can be done through ACE self interact. You should do this whenever the situation allows. Since it takes a while to do, make sure that you do not start right before the order to move out. You do not own your ammunition. It is belongs to the team same as all your gear share if required.</p>
    <p>You weapon can jam, especially when weapon temperatures rise. You can clear a jam by pressing [L Shift] + [R].</p>
    <h2 id="gear">Gear</h2>
    <h3 id="gear_customization">Gear Customization</h3>
    <p>Our policy allows minor gear customization. Everything else is being handled by loadouts. Generally you are allowed to modify your weapon sight which is done by an action box at the base of operations. Green colored equipment is free to use for everyone, other colors require permission.</p>
    <h3 id="explosives">Explosives</h3>
    <p>Explosives are handles by the ACE interaction and self interaction menus. To place a charge use self interact follow the menu. Once you place a charge you need to select a trigger. Therefor interact with the charge and select the desired trigger. If you do not carry any triggers, you can always choose a timer. Communicate whether you place a charge, it is hot, and you are about to blow it. You can defuse mines and other explosives by crawling towards them and interact with them. More information can be found <a href="/handbook/Echo_Platoon_Support">here</a>.</p>
    <h3 id="rocket_launchers">Rocket Launchers</h3>
    <p>Rocket Launchers have backblast. Only fire if you are cleared. Shout "clear backblast" and wait for the response by your buddy "backblast clear". Avoid firing them inside buildings.</p>
    <ul>
        <li><span style='color:#087b08'> <strong>Disposable Launchers</strong></span> - Usually need to be prepared by pressing the reload button. This will bring up the sights and allow you to shoot. Once fired the used tube will be automatically dropped when switching to another weapon. They are one time use only. Disposable Launcher are for example: M136, M72, RPG-26.</li>
        <li><span style='color:#087b08'> <strong>Reloadable Launchers</strong></span> - These Launchers can be reloaded, sometimes that includes multiple types of available ammunition. Some of them can also be reloaded by another soldier (Ammo Bearer) by ACE-Interaction with the Launcher. Reloadable Launchers are for example: MAAWS (Carl Gustav), RPG-7, Javelin.</li>
    </ul>
    <h4 id="maaws_carl_gustav">MAAWS (Carl Gustav)</h4>
    <ul>
        <li><span style='color:#087b08'> <strong>Reload</strong></span> - Can be reloaded with ACE-Interaction by personnel carrying the appropriate ammunition.</li>
        <li><span style='color:#087b08'> <strong>Airburst</strong></span> - HE Ammunition can be set to Airburst. Set the Airburst Range before firing and fire the rocket above your enemy. Airburst is maximizing the effectiveness on soft--targets (infantry).</li>
    </ul>
    <h4 id="javelin">Javelin</h4>
    <ul>
        <li><span style='color:#087b08'> <strong>Locking Target</strong></span> - In order to lock onto a target you require the target to have a thermal signature. Furthermore you need to switch into thermal vision ("Tab" to lock).</li>
        <li><span style='color:#087b08'> <strong>Fire Mode</strong></span> - The Javelin provides two modes: Top and Direct Fire. When using Top Fire the rocket will take a trajectory which leads to it hitting the target directly from above. Direct Fire will make the rocket to climb to travelling height before directly flying at the target ("Ctrl" + "Tab").</li>
    </ul>
    <p>More detail can be found in the <a href="https://ace3mod.com/wiki/feature/javelin.html">ACE3 Documentation</a>.</p>
    <h4 id="rpg_7">RPG-7</h4>
    <figure>
        <img src="/wiki/images/rpg7optic.png" title="rpg7optic.png" width="500" alt="rpg7optic.png" />
    </figure>
    <h2 id="parachuting">Parachuting</h2>
    <ul>
        <li><span style='color:#087b08'> <strong>Static Line</strong></span> - A low altitude jump with a non-steerable parachute.</li>
        <li><span style='color:#087b08'> <strong>Freefall</strong></span> - Usually high altitude jump with steerable parachute.
            <ul>
                <li><span style='color:#087b08'> <strong>HALO</strong></span> - Hight Altitude Low Opening
                    <ul>
                        <li>During freefall steer towards the dropzone and control your freefall.</li>
                        <li>Open parachute at 250-300m / open higher if required to reach the dropzone.</li>
                    </ul></li>
                <li><span style='color:#087b08'> <strong>HAHO</strong></span> - Hight Altitude High Opening
                    <ul>
                        <li>During freefall steer towards the dropzone and control your freefall.</li>
                        <li>Open parachute using following guidelines:
                            <ul>
                                <li>800m altitude for each 1 km of distance from dropzone (not that wind will impact your gliding)</li>
                                <li>may add additional 200m altitude for safety.</li>
                                <li>may add additional altitude to compensate terrain height difference between dropzone and plane exit point.</li>
                            </ul></li>
                    </ul></li>
            </ul></li>
    </ul>
</div>
