<div class="container pt-3">
    <h2 id="introduction">Introduction</h2>
    <p>Battles drills are actions, which are performed on the battlefield. These actions do not require a longer set-up or detailed planning. They are performed by individuals or smaller groups, when they are confronted with a scenario, where the individual drill fits the situation. Any member of a unit can initiate a battle drill, it is important that everyone else follows and assists without further vocalization of how the drill is to be carried out.</p>
    <h2 id="security">360° Security</h2>
    <p>At all times all sectors around the team should be covered. Therefore, it is import to communicate who is covering which sector and generally pay attention, especially when being static. Use the Squad Member HUD to see which directions other members in your squad are covering. It is everybody responsibility that all sectors are covered and not everyone is looking in the same direction. It is advised that you call out the direction you're covering, when your squad is halting movement.</p>
    <h2 id="move_and_cover">Move and Cover</h2>
    <p>Whenever you are moving in a hostile environment, you should make sure that you are always covered by somebody. Unless the Squad Leader is calling for bounding of the fire teams, the Squad should perform the general move and cover drill. A covering position preferably offers cover or at least concealment. Sometimes this is not possible, and you need to hold at open ground. This drill works mostly without radio communication.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Communication</strong></span> - Once ordered or defined, there is no verbal communication needed to run the drill. The Squad Leader may give directions and adjustments to the general path of the Squad.</li>
        <li><span style="color:#087b08"><strong>Team Awareness</strong></span> - Frequently check the Squad Member HUD.</li>
        <li><span style="color:#087b08"><strong>Moving</strong></span> - Move at a fast pace, since others are providing cover. Start moving if you are the last man or there are soldiers in front who are covering.</li>
        <li><span style="color:#087b08"><strong>Covering</strong></span> - The soldier in front will provide cover for the other to pass by. The distance to the previous soldier covering should be around 50m. Distance is to ignore when there is a change in terrain. Whenever you are at an entrance to an area which cannot be overlooked by the rest of the Squad. You will provide cover at the entrance.</li>
        <li><span style="color:#087b08"><strong>Last Man</strong></span> - If you are the last man, you should start moving. If you are the last man, and you bypass a covering soldier. You call "last man" to let him know that he is the last man of the Squad.</li>
        <li><span style="color:#087b08"><strong>Spacing</strong></span> - Vertical spacing might not be possible without stopping to move and wait, which is not desired. If vertical spacing is not good, increase horizontal spacing.</li>
    </ul>
    <img class="float-end image-transparent-fix" src="/wiki/images/Spacing.png" title="Spacing.png" width="150" alt="Spacing.png">
    <ul>
        <li><span style="color:#087b08"><strong>Leap Frog</strong></span> - If you are the last man in the Squad or there are two soldiers in front of you covering, you move forward.</li>
    </ul>
    <img class="image-transparent-fix" src="/wiki/images/MoveAndCover.png" title="MoveAndCover.png" width="300" alt="MoveAndCover.png">
    <ul>
        <li><span style="color:#087b08"><strong>Regroup</strong></span> - Whenever the situation requires additional coordination or there is a lack of cover ahead - regroup. Quickly communicate on how to proceed.</li>
        <li><span style="color:#087b08"><strong>Crossing Roads</strong></span> - If you are the first on a road, cover for the others to cross.</li>
        <li><span style="color:#087b08"><strong>Adjustment Calls</strong></span> - The Squad Leader shall always set landmarks and checkpoint in addition to direction and distance. The direction of movement and the general path needs to be communicated to the Squad.</li>
    </ul>
    <h2 id="reacting_to_contact">Reacting to Contact</h2>
    <p>When running into contact following steps apply.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Alert</strong></span> - Alert your teammates and give short hasty information e.g. "Contact front!". The Squad Leader should alert Command Net.</li>
        <li><span style="color:#087b08"><strong>Cover</strong></span> - These are the individual steps everyone should go through when he hears or sees contact:
            <ul>
                <li>Cover reachable within the next 3 seconds then sprint behind it and go prone.</li>
                <li>No cover close then go prone, when prone crawl or roll slightly away from your initial position.</li>
                <li>When not in cover see if cover is possible to reach and go for it either by crawling or short sprints followed by going prone and relocate. May use smoke for temporary cover.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Scan and Engage</strong></span> - Scan for enemies and engage. Suppressing the enemy has priority.</li>
        <li><span style="color:#087b08"><strong>Determine and Report</strong></span> - The location of the enemy engaging should now be determined and reported to all. It will be the foundation of following decisions.</li>
    </ul>
    <p>Now it is on the Squad Leader to decide what to do. There are multiple options.</p>
    <img class="image-transparent-fix float-end" src="/wiki/images/SuppressiveFireGraph.png" title="SuppressiveFireGraph.png" width="250" alt="SuppressiveFireGraph.png">
    <ul>
        <li><span style="color:#087b08"><strong>Suppressive Fire</strong></span> - Gain fire superiority and force the enemies into cover.
            <ul>
                <li>Volume of Fire - The volume of fire required to establish fire superiority is high, but once the enemy is suppressed it requires less ammunition to maintain suppression.</li>
                <li>Talking Guns - Ensure a constant volume of fire towards the enemy. Shoot in short burst and try to fill the gaps in gunfire. If teammates are reloading you speed up the frequency of your burst to ensure a constant and ongoing fire.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Push</strong></span> - The decision can be to either push the enemy directly or push into a better position.</li>
        <li><span style="color:#087b08"><strong>Flank</strong></span> - Either your team or another team might be sent to flank the enemy. This requires other elements maintaining suppressive fire.</li>
    </ul>
    <img class="image-transparent-fix float-end" src="/wiki/images/SuppressiveFire.png" title="SuppressiveFire.png" width="250" alt="SuppressiveFire.png">
    <ul>
        <li><span style="color:#087b08"><strong>Peel Back</strong></span> - When peeling back one element will always cover and suppress while others are falling back to take over and cover for the team in front, to leap frog back. It is a reverse move and cover. The goal is to keep suppressing the enemy while falling and back and ultimately disengage.</li>
    </ul>
    <h2 id="conducting_an_ambush">Conducting an Ambush</h2>
    <p>There are multiple elements to an ambush:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Position</strong></span> - Ideally all friendly elements involved in an ambush should have solid positions. They should have cover and concealment and if possible a slight elevation.</li>
        <li><span style="color:#087b08"><strong>Kill Zone</strong></span> - The area in which the enemy should be at the time of the ambush. It ideally does not offer a lot of cover and concealment and friendly elements should have clear firing lines.</li>
        <li><span style="color:#087b08"><strong>Initiation</strong></span> - On order by the leader the ambush will start. When considering the right moment to start the ambush you want to have the following factors working your way:
            <ul>
                <li>Majority enemies are in the open.</li>
                <li>At least the location of most enemies is known.</li>
                <li>All are ready to engage and in position.</li>
                <li>If one person fires, all have to start firing whether it was ordered or not.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Fire</strong></span> - When firing you may want to fire ahead of the enemy in order for them to run into your fire.</li>
    </ul>
    <p>There are two basic types of ambushes:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Linear Ambush</strong></span> - All elements are forming a single line facing the enemy. Especially used for hasty assembled ambushes.</li>
    </ul>
    <img class="image-transparent-fix" src="/wiki/images/LinAmbush.png" title="LinAmbush.png" width="200" alt="LinAmbush.png">
    <ul>
        <li><span style="color:#087b08"><strong>L-Shape Ambush</strong></span> - An ambush from two sides. Both lines are forming the shape of an L. Usually one element is position at the front of the enemy in order to block them and the other element is in their flank. Both elements create a huge crossfire while staying out of each others fire lines.</li>
    </ul>
    <img class="image-transparent-fix" src="/wiki/images/L-Shape.png" title="L-Shape.png" width="250" alt="L-Shape.png">
    <h2 id="close_quarter_battle">Close Quarter Battle</h2>
    <p>Fighting in close quarters requires a high level of team work and coordination. Without a surgical and methodical approach it can easily end in a disaster. There are some ground rules to follow at all times:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Stack up</strong></span> - Never enter a room or building alone. Always work together.</li>
        <li><span style="color:#087b08"><strong>Coordinate</strong></span> - You need to coordinate each step with each other.
            <ul>
                <li>Call "stacking" when you want to stack up.</li>
                <li>"Got you" or a shoulder tap signal that you are got somebodies back for entry.</li>
                <li>Call "breaching" and the side you are taking when entering.</li>
                <li>Call "clear" to notify that your sector is clear so all can move to the next entry point/sector.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Pieing</strong></span> - Before moving in try to peek into the area to systematically eliminate potential enemy locations while keeping exposure to a minimum.</li>
    </ul>
    <img class="image-transparent-fix" src="/wiki/images/Pieing.png" title="Pieing.png" width="300" alt="Pieing.png">
    <ul>
        <li><span style="color:#087b08"><strong>Cover each other</strong></span> - Always cover each other. If the person in front is entering a room to the right, you take the left.</li>
        <li><span style="color:#087b08"><strong>Movement</strong></span> - Always move along a wall and avoid moving in another persons firing line or sector. Slow is smooth and smooth is fast. Moving smooth and at the right speed is important to ensure a precise clearing.</li>
        <li><span style="color:#087b08"><strong>Sector by sector</strong></span> - Proper procedure is required by each room you are clearing.</li>
    </ul>
    <img class="image-transparent-fix" src="/wiki/images/Entering3.png" title="Entering3.png" width="600" alt="Entering3.png">
    <p>More examples:</p>
    <p><img class="image-transparent-fix" src="/wiki/images/Entering1.png" title="Entering1.png" width="500" alt="Entering1.png"> <img class="image-transparent-fix" src="/wiki/images/Entering2.png" title="Entering2.png" width="500" alt="Entering2.png"></p>
    <h2 id="air_transport">Air Transport</h2>
    <p>There are some general procedures and guidelines to follow when it comes to using Air Transport.</p>
    <h3 id="helicopters">Helicopters</h3>
    <ul>
        <li><span style="color:#087b08"><strong>General Guidelines</strong></span>
            <ul>
                <li>Always approach the helicopter from the sides</li>
                <li>Gunners always shoot when permitted by the Pilot</li>
                <li>Gunners do not shoot when helicopter is landed</li>
                <li>The Pilot is in charge and makes the calls</li>
                <li>The Leader is responsible for the loading and unloading.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Dropping off Troops</strong></span>
            <ul>
                <li>Pilot calls when approaching the Landing Zone, doors/ramp will be opened and passengers at the door scan for threats. General chatter is expected to end.</li>
                <li>Pilot calls when to exit ("Go go go").</li>
                <li>Troops leave the helicopter and sprint 15m-20m away from it to the sides.</li>
                <li>If cover is near they take cover, else they go prone and cover around the Landing Zone.</li>
                <li>Pilot lifts off if all passengers left. The Leader may move up to the Pilot and informs him that all Troops unloaded or give a hand signal aimed at the pilot.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Loading Troops</strong></span>
            <ul>
                <li>Landing Zone is communicated and marked (if requested).</li>
                <li>Helicopter landed or hovers to load troops.</li>
                <li>Troops approach the helicopter from the side and load in.</li>
                <li>Leader enters when all of his Troops boarded the helicopter. The second in command may be the second to last to enter to assist the Leader.</li>
                <li>Leader informs that all Troops are loaded.</li>
                <li>Pilot lifts off.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Fast Roping</strong></span>
            <ul>
                <li>Pilot calls when approaching the Drop Zone, doors/ramp will be opened and passengers at the door scan for threats. General chatter is expected to end.</li>
                <li>Roping system gets prepared.</li>
                <li>Pilot calls when to exit ("Go go go").</li>
                <li>Ropes get deployed</li>
                <li>Troops rappel down.</li>
                <li>Leader is the last to rappel when all of his Troops are rappelled already. He shouts "Last man" to notify the Pilot that he is the last to exit before rappelling himself.</li>
                <li>Pilot waits for time to pass for the last man to rappel before flying away.</li>
            </ul></li>
    </ul>
</div>
