<div class="container pt-3">
    <h1 id="general_guidelines">General Guidelines</h1>
    <p>Communication is an essential factor for team-play. A certain level of standardization ensures quick and precise communication while limiting misunderstandings. This section features all important Communication related basics. You will find more situation based communication guidelines in the relevant sections.</p>
    <p>When it comes to Communication there are several core principles:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Compact</strong>.</span> Information should be always given with as few words possible. Keeping it short will ensure the ability for others to have their necessary air time to convey their messages.</li>
        <li><span style="color:#087b08"><strong>Clear and Precise</strong>.</span> Your messages should be clear and precise. Use appropriate known terminology.</li>
        <li><span style="color:#087b08"><strong>Confirmation</strong>.</span> Always confirm or even read-back orders given. An unconfirmed order should be handled as a non received order, meaning while somebody is failing to confirm, you repeat until confirmation.</li>
        <li><span style="color:#087b08"><strong>Allocatable</strong>.</span> Always start with alerting the recipients of your message and then state who you are (e.g. "Command this is Alpha", 'Command' as Recipient and 'Alpha' as Sender)</li>
    </ul>
    <p>To ensure good communication you always need to evaluate which information should be broadcast on which channel. There are multiple channels available, although not all of them are available for each individual.</p>
    <ul>
        <li>Direct Talk (talking normal)</li>
        <li>Squad Radio/Net (main Rifleman Radio)</li>
        <li>Platoon Radio/Net (Leader, 2IC and Special Roles)</li>
        <li>Command Radio/Net (Support Coordination Channel usually Long Range)</li>
    </ul>
    <p>Based on the information and the availability of your individual accessible channels you to make a decision what channel to use. There are some basic guidelines when to use Direct Talk and when to use the Radio.</p>
    <p><strong>Direct Talk:</strong></p>
    <ul>
        <li>Shout when using a Grenade (Frag out, Smoke out, Flashing,...)</li>
        <li>Communicate with people in proximity, when all recipients can hear you</li>
        <li>Preferably with your buddy team, if radio not absolutely necessary</li>
    </ul>
    <p><strong>Radio (Squad Net):</strong></p>
    <ul>
        <li>Man down!</li>
        <li>Orders</li>
        <li>Spotted Enemies</li>
        <li>Reports</li>
        <li>Buddy Team coordination (from Team to Team or Squad Lead to Team)</li>
        <li>All relevant information where recipients are out Direct Communication range or the importance of this information is so high that it needs to be ensured everyone has to receive it</li>
    </ul>
    <p><strong>Radio (Platoon/Command Net):</strong></p>
    <ul>
        <li>Orders</li>
        <li>Reports and Status Information</li>
        <li>Enemy Movement</li>
        <li>Force Coordination</li>
    </ul>
    <h1 id="radios">Radios</h1>
    <p>On default each soldier is carrying a Rifleman Radio AN/PRC-343. Each Squad has their own Squad Net. The Squad Leaders, 2nd in Command, Platoon Leader, Platoon Sergeant and Platoon Medic will also carry an additional Radio connected to the Platoon Net, AN/PRC-152. Furthermore, the Platoon Leader will carry a Long-Range Radio to communicate with Support Units such as Aviation on the Command Net, AN/PRC-117F.</p>
    <p>It is essential that every soldier is familiar with how to set up and use the Radio. It is mandatory that communication lines remain open at all time, e.g. if a Squad Leader is unconscious, the second in command should go on the Platoon Net and report the situation and assume control of the Squad and the Communication, while the Leader is being treated. In the end every soldier should be ready to take actions to maintain the communication at all time during the mission based on the situation of his unit. It is everyone's duty to ensure a constant uninterrupted line of communication between all elements, no matter the costs. If your unit lacks a Radio capable to connect to the Platoon Net (e.g. AN/PRC-343) may need to one person to switch to the Platoon Actual Net to keep a line of communication.</p>
    <h2 id="hotkeys">Hotkeys</h2>
    <p>Note that the key bindings can be changed in your settings under (configure addons).</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Keys</strong></p></td>
            <td><p><strong>Action</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>TS3 Push to Talk</p></td>
            <td><p>Direct Talk</p></td>
        </tr>
        <tr class="odd">
            <td><p>Caps Lock</p></td>
            <td><p>Talk on Radio 1</p></td>
        </tr>
        <tr class="even">
            <td><p>T</p></td>
            <td><p>Talk on Radio 2</p></td>
        </tr>
        <tr class="odd">
            <td><p>CTRL + Caps Lock</p></td>
            <td><p>Talk on Radio 3</p></td>
        </tr>
        <tr class="even">
            <td><p>Tab + Mousewheel</p></td>
            <td><p>Adjust Talk Volume (AI will hear you)</p></td>
        </tr>
        </tbody>
    </table>
    <p>Radio can be opened over ACE-Self Interaction. Best is to look in your settings.</p>
    <h2 id="anprc_343_rifleman_radio">AN/PRC-343 (Rifleman Radio)</h2>
    <p>Default Radio for every Infantryman. Set on Squad Net Channel. This radio has a limited range of 850m ideally, due to terrain interference it might be substantially lower closer to 400m.</p>
    <figure>
        <img src="/wiki/images/Radio343.png" title="Radio343.png" width="300" alt="Radio343.png" />
    </figure>
    <h2 id="anprc_152">AN/PRC-152</h2>
    <p>Default Radio for Infantry Leaders and Platoon Level Support Personnel. Set on Platoon Net Channel. This radio has an ideal range of 5-7km, due to terrain interference it might be closer to 2-5km.</p>
    <figure>
        <img src="/wiki/images/Radio152.png" title="Radio152.png" width="300" alt="Radio152.png" />
    </figure>
    <h2 id="anprc_148">AN/PRC-148</h2>
    <p>Radio for certain Support Units such as Aviation. Set on the Support Area Specific Net such as Air Net. This radio has the same range as the AN/PRC-152.</p>
    <figure>
        <img src="/wiki/images/Radio148.png" title="Radio148.png" width="300" alt="Radio148.png" />
    </figure>
    <h2 id="anprc_117f_long_range_radio">AN/PRC-117F (Long Range Radio)</h2>
    <p>Radio carried by the Platoon Sergeant and Support Units such as Aviation and Recon. Set mostly on Command Net. This radio has a range of 10-20km sometimes even more.</p>
    <figure>
        <img src="/wiki/images/Radio117F.png" title="Radio117F.png" width="500" alt="Radio117F.png" />
    </figure>
    <h2 id="stereo_settings">Stereo Settings</h2>
    <p>Use Stereo Settings to always put the Squad Net on one ear and the Platoon Net (if Leader) on the other ear. That helps to identify the used Channel in a current broadcast. It recommends to always keep it consistent.</p>
    <h1 id="comm_card">Comm Card</h1>
    <p>The Comm Card can be found in the tabs on the right hand top of the map in-game. Do not hesitate to use it.</p>
    <h3 id="squad_net_channels">Squad Net Channels</h3>
    <p>For the AN/PRC-343.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Unit</strong></p></td>
            <td><p><strong>Channel</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>Alpha</p></td>
            <td><p>Block 1 - Channel 1</p></td>
        </tr>
        <tr class="odd">
            <td><p>Bravo</p></td>
            <td><p>Block 1 - Channel 2</p></td>
        </tr>
        <tr class="even">
            <td><p>Charlie</p></td>
            <td><p>Block 1 - Channel 3</p></td>
        </tr>
        <tr class="odd">
            <td><p>Delta</p></td>
            <td><p>Block 1 - Channel 4</p></td>
        </tr>
        <tr class="even">
            <td><p>Platoon Actual</p></td>
            <td><p>Block 1 - Channel 5</p></td>
        </tr>
        <tr class="odd">
            <td><p>Echo 1</p></td>
            <td><p>Block 1 - Channel 6</p></td>
        </tr>
        <tr class="even">
            <td><p>Echo 2</p></td>
            <td><p>Block 1 - Channel 7</p></td>
        </tr>
        <tr class="odd">
            <td><p>Sierra 1</p></td>
            <td><p>Block 1 - Channel 8</p></td>
        </tr>
        <tr class="even">
            <td><p>Sierra 2</p></td>
            <td><p>Block 1 - Channel 9</p></td>
        </tr>
        <tr class="odd">
            <td><p>Hotel 1 (REINF)</p></td>
            <td><p>Block 1 - Channel 10</p></td>
        </tr>
        <tr class="even">
            <td><p>Hotel 2 (REINF)</p></td>
            <td><p>Block 1 - Channel 11</p></td>
        </tr>
        </tbody>
    </table>
    <h3 id="cross_unit_channel">Cross Unit Channel</h3>
    <p>For all other Radios.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Channel</strong></p></td>
            <td><p><strong>Description</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>Channel 1 - PLT NET</p></td>
            <td><p>Platoon Net</p></td>
        </tr>
        <tr class="odd">
            <td><p>Channel 2 - COM NET</p></td>
            <td><p>Command Net</p></td>
        </tr>
        <tr class="even">
            <td><p>Channel 3 - SUP NET</p></td>
            <td><p>Support Net</p></td>
        </tr>
        <tr class="odd">
            <td><p>Channel 4 - MECH NET</p></td>
            <td><p>Mechanized/Armoured Net</p></td>
        </tr>
        <tr class="even">
            <td><p>Channel 5 - AIR NET 1</p></td>
            <td><p>Aviation Net 1</p></td>
        </tr>
        <tr class="odd">
            <td><p>Channel 6 - AIR NET 2</p></td>
            <td><p>Aviation Net 2</p></td>
        </tr>
        </tbody>
    </table>
    <h1 id="procedure_and_terminology">Procedure and Terminology</h1>
    <h3 id="identification">Identification</h3>
    <p>When talking on the Radio start each conversation with stating who you are talking to. Recipient from Sender. For Example:</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><code>Alpha SL: "Lead, this is Alpha."</code><br />
                <code>Platoon Leader: "Alpha, send it."</code><br />
                <code>Alpha SL: "Alpha is ready to move out."</code><br />
                <code>Platoon Leader: "Lead copies."</code></p></td>
        </tr>
        </tbody>
    </table>
    <h3 id="general_terminology">General Terminology</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Copy/Roger</strong> </span> - Message received and understood.</li>
        <li><span style="color:#087b08"> <strong>Affirmative/Afirm</strong> </span> - Yes.</li>
        <li><span style="color:#087b08"> <strong>Negative</strong> </span> - No.</li>
        <li><span style="color:#087b08"> <strong>Wilco</strong> </span> - Will comply. Usually used with Roger ("Roger, wilco").</li>
        <li><span style="color:#087b08"> <strong>Come in</strong> </span> - Request for a response.</li>
        <li><span style="color:#087b08"> <strong>Send it</strong> </span> - Signal to be ready for incoming message.</li>
        <li><span style="color:#087b08"> <strong>Break</strong> </span> - Signals a pause during a longer transmission.</li>
        <li><span style="color:#087b08"> <strong>Clear Comms/Break, break, break</strong> </span> - Signals all listeners for radio silence for incoming priority message.</li>
        <li><span style="color:#087b08"> <strong>Interrogative</strong> </span> - Used to indicate a following question.</li>
        <li><span style="color:#087b08"> <strong>Stand by</strong> </span> - Prepare for following Order.</li>
        <li><span style="color:#087b08"> <strong>Oskar Mike</strong> </span> - On the move.</li>
    </ul>
    <h3 id="combat_callouts">Combat Callouts</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Frag Out</strong> </span> - Warning when throwing a Frag Grenade.</li>
        <li><span style="color:#087b08"> <strong>Smoke Out</strong> </span> - Warning when throwing a Smoke Grenade.</li>
        <li><span style="color:#087b08"> <strong>Flashing</strong> </span> - Warning when throwing a Flashbang.</li>
        <li><span style="color:#087b08"> <strong>Grenade</strong> </span> - Warning of a hostile grenade being thrown at friendlies.</li>
        <li><span style="color:#087b08"> <strong>Bad Frag</strong> </span> Warning of a friendly frag grenade throwing in a way that endangers friendlies.</li>
        <li><span style="color:#087b08"> <strong>Incoming</strong> </span> - Warning of incoming fire. Usually combined with direction incoming fire.</li>
        <li><span style="color:#087b08"> <strong>Cease Fire</strong> </span> - Order to hold and stop fire.</li>
        <li><span style="color:#087b08"> <strong>Check Fire</strong> </span> - Order to re-identify target to ensure positive identification, used by possible friendly fire.</li>
        <li><span style="color:#087b08"> <strong>Hold Fire</strong> </span> - Order to hold fire to maintain stealth.</li>
    </ul>
    <h3 id="personal_status">Personal Status</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Up</strong> </span> - Report of an operation unit.</li>
        <li><span style="color:#087b08"> <strong>Reloading</strong> </span> - Report of a unit reloading.</li>
        <li><span style="color:#087b08"> <strong>Weapon Empty/Dry</strong> </span> - Report of a unit having no ammunition left.</li>
        <li><span style="color:#087b08"> <strong>Set</strong> </span> - Report for a unit being in a position to cover other unit's movement.</li>
    </ul>
    <h1 id="status_reports">Status Reports</h1>
    <h3 id="contact_report">Contact Report</h3>
    <p>A Contact Report contains following Information:</p>
    <ul>
        <li><span style="color:#087b08"> <strong>Warning</strong> </span> - Usually "Contact!" is used to alert people for incoming Contact Report.</li>
        <li><span style="color:#087b08"> <strong>Description</strong> </span> - Description of the Hostiles spotted.</li>
        <li><span style="color:#087b08"> <strong>Direction</strong> </span> - Direction of the Hostiles spotted from the location of the Spotter or other given Reference. Usually Cardinal Directions North/East/South/West or Compass Bearings.</li>
        <li><span style="color:#087b08"> <strong>Distance</strong> </span> - Distance of the Hostiles spotted from the location of the Spotter or other given Reference.</li>
        <li><span style="color:#087b08"> <strong>Opt. Target Reference</strong> </span> - Optional Reference Point given which is used as a base for the Direction and Distance.</li>
        <li><span style="color:#087b08"> <strong>Opt. Additional Information</strong> </span> - Optional all Additional Useful Information about the Hostile spotted, e.g. direction of movement, awareness of our presence...</li>
    </ul>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><code>"Contact, Enemy Fire Team, bearing 060, 400 meters."</code><br />
                <code>"Contact, Enemy Patrol, 2 men, North, 400 meters of Alpha - 1, moving eastwards."</code><br />
            </p></td>
        </tr>
        </tbody>
    </table>
    <h3 id="ace_report">ACE Report</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Ammunition</strong> </span> - The categorized amount of ammunition for the primary and secondary weapon.</li>
        <li><span style="color:#087b08"> <strong>Casualties</strong> </span> - Count of currently wounded and dead. Furthermore, the categorized amount of medical gear.</li>
        <li><span style="color:#087b08"> <strong>Equipment</strong> </span> - The categorized amount of Equipment in regard to Explosives, Rockets, Grenades...</li>
    </ul>
    <p>ACE Reports are given as individuals to the Leader, who will compile them into an overall assessment and report that to his superior. They are used to assess a unit's continued combat ability.</p>
    <p><strong>ACE Report Categories:</strong></p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Category</strong></p></td>
            <td><p><strong>Meaning</strong></p></td>
            <td><p><strong>Status</strong></p></td>
        </tr>
        <tr class="even">
            <td><p>Green</p></td>
            <td><p>more than 75% of initial quantity</p></td>
            <td><p>fully combat effective</p></td>
        </tr>
        <tr class="odd">
            <td><p>Yellow</p></td>
            <td><p>between 75% to 50% of initial quantity</p></td>
            <td><p>combat effective, but requires resupply soon</p></td>
        </tr>
        <tr class="even">
            <td><p>Red</p></td>
            <td><p>below 50% of initial quantity</p></td>
            <td><p>combat ineffective, barely operational</p></td>
        </tr>
        <tr class="odd">
            <td><p>Black</p></td>
            <td><p>below 25% of initial quantity</p></td>
            <td><p>combat ineffective, not operational</p></td>
        </tr>
        </tbody>
    </table>
    <p><strong>Example:</strong></p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><code>Report of a Squad Member to his Squad Leader:</code><br />
                <code>"Green on Ammo, Yellow on Medical, Yellow on Equipment, Black on AT."</code><br />
            </p></td>
        </tr>
        </tbody>
    </table>
    <h3 id="sitrep">SITREP</h3>
    <p>A situational report is a quick report given to get information about the status of troops. SITREPs can be asked for at any level. It is supposed to be less detailed than an ACE Report. It should be centered around your location, objective status, combat status of your unit, and any other information that you deem relevant to the situation, e.g. status of enemy combatants.</p>
    <h1 id="aviation_requests">Aviation Requests</h1>
    <h3 id="request_pickup">Request Pickup</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Location</strong> </span> - The landing zone you request getting picked up.</li>
        <li><span style="color:#087b08"> <strong>Landing Zone Details</strong> </span> - Relevant information about the Landing Zone like landmarks that are easy to spot from the air and whether it is hot or cold.</li>
        <li><span style="color:#087b08"> <strong>Optional: Friendly Location</strong> </span> - Location of friendlies in the area.</li>
        <li><span style="color:#087b08"> <strong>Optional: Recommended Approach</strong> </span> - Direction you recommend the helicopter to approach the Landing Zone from.</li>
        <li><span style="color:#087b08"> <strong>Optional: Colored Smoke Reference</strong> </span> - On request of the helicopter crew.</li>
    </ul>
    <h3 id="request_supply">Request Supply</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Location</strong> </span> - The Drop Zone you request the Supply Drop to.</li>
        <li><span style="color:#087b08"> <strong>Drop Zone Details</strong> </span> - Relevant information about the Landing Zone like landmarks that are easy to spot from the air and whether it is hot or cold.</li>
        <li><span style="color:#087b08"> <strong>Optional: Friendly Location</strong> </span> - Location of friendlies in the area.</li>
        <li><span style="color:#087b08"> <strong>Optional: Recommended Approach</strong> </span> - Direction you recommend the helicopter to approach the landing zone from.</li>
        <li><span style="color:#087b08"> <strong>Optional: Colored Smoke Reference</strong> </span> - On request of the helicopter crew.</li>
    </ul>
    <h3 id="request_close_air_support">Request Close Air Support</h3>
    <ul>
        <li><span style="color:#087b08"> <strong>Target</strong> </span> - Target Marker (T + Number).</li>
        <li><span style="color:#087b08"> <strong>Description</strong> </span> - Description of the target and area.
            <ul>
                <li>Distinctive Landmarks which help finding the target and for general orientation.</li>
                <li>Type of target - Target details like amount and type of enemy.</li>
                <li>Type of Weapon - Depending on available weaponry what you request (minigun fire, rockets...).</li>
            </ul></li>
        <li><span style="color:#087b08"> <strong>Friendly Location</strong> </span> - Location of friendlies in the area to prevent friendly fire.</li>
        <li><span style="color:#087b08"> <strong>Optional: Recommended Approach</strong> </span> - Direction you recommend the helicopter to approach the landing zone from.</li>
        <li><span style="color:#087b08"> <strong>Optional: Colored Smoke Reference</strong> </span> - On request of the helicopter crew.</li>
    </ul>
    <p>An optimal recommended approach lets the helicopter stay clear of enemy threats and in case of landing / supply drop has all obstacles around the LZ / Drop zone in front of the helicopter and in plain sight instead of to the sides or to the rear.</p>
    <h3 id="request_fire_support">Request Fire Support</h3>
    <h4 id="call_structure">Call Structure</h4>
    <ul>
        <li><span style="color:#087b08"> <strong>Warning</strong> </span> - Use "Fire Mission" as an introduction of your request after establishing communication with the Fire Support Element.</li>
        <li><span style="color:#087b08"> <strong>Type</strong> </span> - Either "Adjust Fire" or "Fire for Effect".</li>
        <li><span style="color:#087b08"> <strong>Amount</strong> </span> - How many rounds you request.</li>
        <li><span style="color:#087b08"> <strong>Ordnance</strong> </span> - Type of Ordnance (HE, Smoke, Illumination).</li>
        <li><span style="color:#087b08"> <strong>Target Location</strong> </span> - Either Grid or Marker Reference.</li>
        <li><span style="color:#087b08"> <strong>Spreading</strong> </span> - The area of impact, maybe even a direction of expansion of fire.</li>
        <li><span style="color:#087b08"> <strong>Target Description</strong> </span> - What type of target is the artillery called upon.</li>
        <li><span style="color:#087b08"> <strong>Repeat Back</strong> </span> - The receiving Fire Support Element is repeating the critical aspects of the fire mission back as a confirmation.</li>
    </ul>
    <h4 id="additional_terminology">Additional Terminology</h4>
    <ul>
        <li><span style="color:#087b08"> <strong>Rounds away</strong> </span> - First round has been fired.</li>
        <li><span style="color:#087b08"> <strong>Rounds complete</strong> </span> - Last round has been fired.</li>
        <li><span style="color:#087b08"> <strong>Splash out</strong> </span> - Warning 7-5 seconds before first impact.</li>
        <li><span style="color:#087b08"> <strong>Adjust Fire</strong> </span> - To adjust for direction and distance.</li>
        <li><span style="color:#087b08"> <strong>Good/Bad Effect on Target</strong> </span> - Feedback on effect on target.</li>
    </ul>
</div>
