<div class="container pt-3">
    <h2 id="preflight_checklist">Preflight checklist</h2>
    <p>This preflight checklist expects the pilot to have experience in handling a fixed wing aircraft and to have fully configured the controls in arma3 before entering the plane and taking off.</p>
    <ul>
        <li>This includes but is not limited to:
            <ul>
                <li>flaps</li>
                <li>gear up/down</li>
                <li>speedbrake</li>
                <li>throttle</li>
                <li>targeting camera</li>
                <li>targeting and locking on (Next Vehicle Target R and Target T)</li>
                <li>countermeasures</li>
                <li>tailhook</li>
                <li>inside the cockpit select</li>
            </ul></li>
    </ul>
    <p>It is prohibited to enter a plane without making sure all controls necessary for the safe operation of the aircraft (configured in single player or on the training server) are present.</p>
    <ul>
        <li>1. Make sure you have your 152, MicroDAGR and parachute equipped.
            <ul>
                <li>enter the plane, check for damage status and fuel</li>
                <li>apply zero collective (engine must remain off during preflight sequence)</li>
                <li>do not turn on the engine or move the plane until rearming has concluded
                    <ul>
                        <li>Note: the next steps can be performed during re-arming the plane.</li>
                    </ul></li>
            </ul></li>
    </ul>
    <ul>
        <li>2. Connect to the onboard radio (ACE interact, DASH, use) and configure it:
            <ul>
                <li>Switch to airnet-1 (the radio channel of the forward air controller)</li>
                <li>Optional: configure the onboard radio for your left/right ear only.</li>
                <li>Sign on to airnet-1:
                    <ul>
                        <li>You: FAC, this is whiskey-1.</li>
                        <li>Controller: Send for FAC.</li>
                        <li>You: FAC, whiskey-1 signing on airnet-1.</li>
                        <li>Controller: FAC copies.</li>
                    </ul></li>
                <li>Optional: Set up airnet-2 on the second onboard radio to talk to other pilots</li>
                <li>Optional: Configure the airnet-2 radio for your right/left ear only.</li>
            </ul></li>
    </ul>
    <ul>
        <li>3. Set up your sensors
            <ul>
                <li>make sure you have one of your radars set at a minimum 8km</li>
                <li>display your GPS/MicroDAGR</li>
                <li>configure the HMD by using the interactive cockpit display</li>
                <li>Optional: configure your left and right MFD</li>
            </ul></li>
    </ul>
    <ul>
        <li>4. Taxi to the runway
            <ul>
                <li>set flaps to full down</li>
                <li>if present, retract the tailhook</li>
                <li>start your main engine (we will use simple procedure, not advanced startup)</li>
                <li>apply throttle at 2-5%, you will start rolling</li>
                <li>when crossing runways look to the left and to the right</li>
                <li>taxi to the beginning of your take-off runway</li>
            </ul></li>
    </ul>
    <ul>
        <li>5. Make sure the runway is clear and no aircraft is currently preparing for takeoff or landing
            <ul>
                <li>Optional: announce your takeoff on this runway on airnet-2 to inform other pilots</li>
                <li>in case of rodeo units in the area you must postpone take-off until rodeo has cleared the airspace completely</li>
            </ul></li>
    </ul>
    <h2 id="take_off">Take Off</h2>
    <ul>
        <li>After taxing to the beginning of the runway, align yourself parallel to the edges.
            <ul>
                <li>Make sure you have deployed max flaps, to have more lift and stability.</li>
            </ul></li>
        <li>Set your throttle to maximum, at around 300 km/h start pulling the nose up to 10 degrees, as soon as you are airborne you will raise the gear and bring the flaps up, then begin to climb up to the cruising altitude for that mission.
            <ul>
                <li>The F/A-18 has an onboard indicator, showing you when you are stalling, use it to see when you can pull up.</li>
            </ul></li>
    </ul>
    <h2 id="landing">Landing</h2>
    <ul>
        <li>Align with the runway in front of you, reduce speed to around 400, deploy max flaps and set the gear down (activate tailhook for carrier landing).</li>
        <li>Reduce throttle and use the speed brake so that you will touch down on the runway at around 300 km/h, try to follow the middle of the runway as straight as possible, do not apply speed brakes at the moment of touching down. Do not touch the ground with your nose wheel first, keep the plane even and balanced with the nose slightly pointing upwards, slightly losing speed and altitude but not stalling, this will make the back wheels touch the ground first and then gently proceed to point your nose down to the runway, you can now start applying the full speed brake and your throttle to zero. If you feel like you can't make a safe landing, abort immediately: increase throttle and fly around for a second pass, YOU must be confident in YOUR landing.</li>
    </ul>
    <p>When landing on a carrier remember it has a height of 35 meters so make sure you fly at around 40-45 meters when touching down. Also make sure you do not undershoot.</p>
    <h2 id="recon">Recon</h2>
    <ul>
        <li>When you fly at your cruising altitude use the targeting camera and area lock feature (ctrl+m2 and ctrl+t) to spot and identify enemy forces in the AO. Try to reduce speed and maintain a stable throttle while you circle around. Do not reduce altitude or deviate from your circling pattern, stay at a minimum altitude of 2000 meters and keep a high distance to the area of operations and other aircraft, including friendly helicopters and supply drops.
            <ul>
                <li>Using the targeting camera you will be able to see the grid number of your target, you now have to use landmarks near the target to find and mark the enemy asset on your map.</li>
                <li>Mark small ground units like infantry and jeeps in the Side channel with EI; bunkers will be marked as BNK, armoured vehicle with their name and a unique number(e.g. MBT 3).</li>
                <li>Remember to always keep an eye on your heading, speed and altitude.</li>
                <li>Leave the area if threats become imminent (enemy aircraft or SAM activity).</li>
            </ul></li>
    </ul>
    <h2 id="aa_avoidance">AA Avoidance</h2>
    <p>There are 2 types of AA missile locking mechanisms that are modelled in Arma:</p>
    <ul>
        <li>Fox 2
            <ul>
                <li>Fox 2 is an infrared guided missile, which means it can lock on to nearby heat signatures (the target can be invisible to your radar, and you will still get a lock), the target will not receive a warning about the infrared lock on.</li>
                <li>It has a 180 degree firing angle (you can fire it in tight turns and without having a direct view of the target, only using the lock on), but it has a maximum range of 5 km from where you can get a lock (e.g. BIM-9X, ASRAAM).</li>
            </ul></li>
        <li>Fox 3
            <ul>
                <li>Fox 3 is a radar semi-guided missile, that means it needs an active radar lock to engage, typically fired from BVR (beyond visual range), it gives a lock-on warning to the target and has a tight firing angle.</li>
                <li>Many SPAAG (self-propelled anti-aircraft gun) have a small range, if you make an effort to stay at a minimum of 4 km away from these vehicles they will not be effective against you.</li>
            </ul></li>
    </ul>
    <p>When entering combat zones stay at high speed to keep the vulnerability time window small.</p>
    <h3 id="surface_to_air_missile_avoidance">Surface-to-Air-Missile avoidance</h3>
    <ul>
        <li>If you are engaged by a SAM, you have to use CM (countermeasures, which come as both flares and chaff) and immediately turn 90 degrees from the incoming missile direction, you want to use flares every 1-3 second (depending on the range from where the missile was launched) up to 5 times to reduce the probability of a missile hitting you.
            <ul>
                <li>Optional: set one of your radars to 2km or 4km.</li>
                <li>This way you will be able to switch to it to better identify incoming missiles and once they come closer jerk your aircraft and use countermeasures to have the best chance of evading the missile.</li>
            </ul></li>
    </ul>
    <p>After disengaging you can then turn on GPS again (or use the microDAGR all the time).</p>
    <ul>
        <li>If you are hit but still able to stir the aircraft toward your closest base, let FAC know that you are disengaging and returning to base to repair. If you can't maneuver the aircraft, call mayday three times on the radio and eject by double pressing v. In case you manage to land inside the AO, you will have to be rescued by friendly ground units. Once you get back to platoons position you are free to recall yourself to base. If you drop outside the AO just recall yourself directly back to base.</li>
    </ul>
    <h2 id="communication_rules_of_engagement">Communication &amp; Rules of Engagement</h2>
    <ul>
        <li>The weapon systems of your aircraft can only be useful under three conditions:
            <ul>
                <li>your ability to communicate effectively with the forward air controller</li>
                <li>your ability to follow the rules of engagement for the current mission</li>
                <li>your ability to proactively avoid friendly fire incidents and danger to friendly units</li>
            </ul></li>
        <li>Effectiveness of a jet is based on how well it can communicate and relay data with the FAC. SL,PL or FAC will request close-air-support for a target, optionally provide a bearing and map marker and the best ingress and egress. Additional information will pertain to friendly units in the area and terrain surrounding the target as well as possible cover the target may be hiding in.</li>
        <li>FAC can laser designate targets for the pilot, also he will be able to abort a fire mission. The pilot is responsible for the aircraft and the weapon system. This means that the pilot has the last word (and full responsibility) about entering the AO, attacking the target and releasing the respective payload. This also means that in the case of a friendly fire incident the FAC will not be solely responsible but also the pilot will have to face the consequences.</li>
        <li>SL (squad lead) can request strikes directly to the pilot by radioing him via the 152 and providing direction information, as well as a marker on the map. He can also smoke his position to help the pilot in identifying foe from friendly.
            <ul>
                <li>Additional information that can increase the effectiveness of a strike consist of: elevation, landmarks, state of the target ( moving/stationary).</li>
                <li>If the pilot is not comfortable with the task (not good enough info, friendlies closer the 100 meters) he might decide not to engage and inform the FAC/SL.</li>
                <li>The pilot should keep an eye on the amount and type of weaponry he has left and decide ahead of an assaults if he should return and rearm.</li>
                <li>The pilot will let the FAC know if he decides to return to base, he can also consider feedback from the FAC about staying in the AO longer.</li>
            </ul></li>
    </ul>
    <ul>
        <li>When entering the AO it is required for the Pilot to inform the FAC:
            <ul>
                <li>You: FAC, this is Whiskey-1.</li>
                <li>FAC: Whiskey-1, send for FAC.</li>
                <li>You: FAC, whiskey-1 is on station.</li>
                <li>FAC: FAC copies.</li>
            </ul></li>
        <li>If the pilot has uncovered potential ground targets during reconnaissance, marked them on the map and relayed this information to the FAC, but did not receive a CAS support request for a longer period of time while being present in the AO, it is recommended for the pilot to contact the FAC and refresh the information about the ground targets that can be attacked.
            <ul>
                <li>However, a pilot must never decide to engage a target on his own.</li>
                <li>Exceptions are jets, helicopters and AA which pose a direct threat to the safety of the pilot, he should nonetheless inform ground assets he is engaging them.</li>
                <li>He can engage any of them freely and can disregard any other task until he feels safe enough or the threats have been dealt with. If FAC/PL informs the pilot to avoid engaging those targets because ground assets might be able to do it then the pilot will simply avoid the dangerous area and wait for clearance from the FAC to return.</li>
            </ul></li>
        <li>Remember that once these threats have been dealt with, their wreck and following ammo explosions represent a danger to infantry. Make an effort to engage when friendlies are a safe distance away.</li>
    </ul>
    <h3 id="the_mandatory_roe_for_the_fighter_pilots_during_our_missions_are">The mandatory RoE for the fighter pilots during our missions are:</h3>
    <ul>
        <li>close communication with FAC to ensure IFF and avoid mass casualties</li>
        <li>no engagement of civilian occupied areas</li>
        <li>no engagement of enemies closer than 100 meters of friendlies</li>
        <li>no destruction of cultural or religious buildings</li>
        <li>no engagement of medical personnel and ambulances</li>
        <li>no engagement of targets closer than 100 from fragile objectives</li>
        <li>no engagement without an order from SL or PL</li>
        <li>use of the right munition for the task</li>
        <li>no “tricks” over friendly units and no dangerous flying, you are not here to show off</li>
    </ul>
    <h2 id="when_and_how_to_offer_support">When and how to offer support</h2>
    <ul>
        <li>When the pilot has all the data he needs to carry out a CAS request, he must make a mental line from the closest friendly forces to the target and a line from his position to the target. As a general rule these 2 lines must be as perpendicular as possible to avoid any damage that a late or early drop might cause.</li>
        <li>If the pilot engages a target from long range, the person who called the strike will relay the BDA( Battle damage assessment). The pilot can request a BDA report by radioing “effect on target”.</li>
        <li>When approaching a ground target radar locks are the recommended procedure for locking on, they are more precise, provide more information about the target and will allow greater distances for the missiles to acquire the target and lock on. If using bombs lase the target and drop the bomb when you have the lock-on marker. In case of unguided bombs make sure you are properly on the target before releasing.
            <ul>
                <li>When locking onto a target the pilot will be notified of the lock audibly and with a visual marker over the target.</li>
                <li>If there is an X over the target marker you must under no circumstances release the payload.</li>
            </ul></li>
    </ul>
    <p>An X inside the target lock for a plane or a ground asset marks a FRIENDLY unit.</p>
    <ul>
        <li>When using laser locking it is recommended for the pilot to not use his own laser to ‘double lase' the target, if the FAC has already done it. If the FAC can't maintain a lock he will inform the pilot to switch to his own laser.
            <ul>
                <li>Handing over targets by switching lasers will obviously result in loss of the lock and the intended payload might miss a moving target as a result. Talk to FAC and let him know what method you want to use to engage the target (your laser or his).</li>
            </ul></li>
        <li>For example, the FAC can lase a priority target among a group of enemy vehicles, the pilot will then use his HMD to look for that particular laser icon, bring his targeting camera in this position, find the laser marker of the FAC, begin to shine his own laser on this mark and tell the FAC to turn off his own laser. Then the pilot can begin the approach and start locking on.</li>
    </ul>
    <h3 id="terms_the_pilot_and_fac_should_know">Terms the pilot and FAC should know</h3>
    <ul>
        <li>Bugout - out of fuel or ordnance, must go back to base</li>
        <li>Spike - indicates radar warning receiver threat</li>
        <li>Bogey - unknown radar contact</li>
        <li>Bandit - aircraft identified as enemy</li>
        <li>Bingo - low fuel, minimum amount to return to base</li>
        <li>RTB - Return To Base</li>
        <li>On station/off station - in/out of the AO</li>
        <li>Splash + number - expected time of impact</li>
        <li>Effect on target - request for result of mission or task</li>
        <li>Wilco - will comply</li>
        <li>Paveway - release of laser guided bomb</li>
        <li>Rifle - release of anti ground missile</li>
        <li>Breaking off - leaving an engagement</li>
    </ul>
    <h2 id="weapon_systems">Weapon Systems</h2>
    <p>The following weapon systems are working( at the moment of writing this document), and should be employed based on their type, range, and mode with which it acquires targets:</p>
    <ul>
        <li><span style="color:#087b08"><strong>AGM-114N</strong></span> type: thermobaric, targeting: laser, range: UNK</li>
        <li><span style="color:#087b08"><strong>AGM-114L</strong></span> type: HEAT, targeting: radar, range: 8km, notes: LOBL</li>
        <li><span style="color:#087b08"><strong>AGM-114K</strong></span> type: HEAT, targeting: laser, range: 8km, notes: LOBL, less precise</li>
        <li><span style="color:#087b08"><strong>AGM-65L</strong></span> type: HEAT, targeting: radar, range: 6km, notes: LOAL,only one of the 2 function</li>
        <li><span style="color:#087b08"><strong>AGM-65G</strong></span> type: HEAT, targeting: ir, range: 4km, notes: target needs to be hot</li>
        <li><span style="color:#087b08"><strong>GBU 12</strong></span> type: LGB, targeting: laser/unguided, range: UNK</li>
        <li><span style="color:#087b08"><strong>GBU SDB</strong></span> type: PGGB, targeting: laser/ir/unguided, range: UNK</li>
        <li><span style="color:#087b08"><strong>CBU-85</strong></span> type: cluster bomb, targeting: laser/unguided, range: UNK, notes: only for infantry</li>
        <li><span style="color:#087b08"><strong>AGM-88C</strong></span> type: ARM,targeting: enemy radar, range: 25 km, notes: only for SPAAG</li>
        <li><span style="color:#087b08"><strong>Hydra 70</strong></span> type: unguided rocket, targeting: HUD indicator, range: depends on the angle of attack, max 2km</li>
        <li><span style="color:#087b08"><strong>AIM-120A</strong></span> type: fox3, targeting: radar lock, range: 10km</li>
        <li><span style="color:#087b08"><strong>AMRAAM D</strong></span> type: fox3, targeting: radar lock, range: 12km</li>
        <li><span style="color:#087b08"><strong>BIM-9X</strong></span>type: fox2, targeting: IR, range: 2km, notes: 4km range with active radar</li>
        <li><span style="color:#087b08"><strong>AIM-132</strong></span> type: fox2, targeting: IR, range: 0.5km, notes: 5km range with active radar</li>
    </ul>
    <hr />
    <p>ARM-anti radiation missile; LGB-laser guided bomb; PGGB-precision guided glide bomb</p>
    <ul>
        <li>LOBL( lock on before launch) missiles needs the target info from the onboard equipment and the targeting can be done only before firing.</li>
        <li>LOAL( lock on after launch) missiles can achieve a lock after they have left the aircraft, this can be done with the aid of radar or the internal guidance system.</li>
    </ul>
    <ul>
        <li>There will be up to two loadouts available for the mission-makers to use for their missions:
            <ul>
                <li>Heavy focus on unguided bombs and unguided rockets, great effectiveness against infantry and static emplacements, with moderate capabilities against armoured targets.
                    <ul>
                        <li>Intended loadout: 2x1 Hydra 70 (12 rockets); 2x2 CBU-85; 2x1 Fuel Tank; 2x1 GBU 12; 4x1 GBU SDB</li>
                    </ul></li>
                <li>Focus on self-defense and surgical removing of enemy armour, less impact on enemy soft targets.
                    <ul>
                        <li>Intended loadout: 2x1 AMRAAM D; 2x1 AGM-65L; 2x1 AGM-65G; 2x1 GBU 12; 1x1 AGM-88C</li>
                    </ul></li>
                <li>Each loadout contains 2 BIM-9X missiles for close air-to-air combat survivability.</li>
            </ul></li>
    </ul>
</div>
