<div class="container pt-3">
    <figure>
        <img src="/wiki/images/BFT_W1.png" title="BFT_W1.png" width="100" alt="BFT_W1.png" style="background-color: black" /><figcaption aria-hidden="true">BFT_W1.png</figcaption>
    </figure>
    <h2 id="before_joining_your_first_training">Before joining your first training</h2>
    <p>If you want to enroll in the fixed wing program you will first need to have passed your infantry qualification. Training on your own is highly encouraged and needed, as this program will only serve as a guide and can't be substituted for practical experience. Flying a jet is anything but easy or relaxing. As a pilot you must be vigilant and constantly keep an eye on your altitude, speed and direction of flight. You will be responsible for accurate and safe deployment of ordnance. The requirements for the pilot qualification are listen <a href="/handbook/Qualifications">here</a>.</p>
    <p>Certifications for pilots take place on a scheduled date, once you and the instructor feel confident in your ability to pass. In order to take the qualification exam you must attend at least one training session.</p>
    <h2 id="fixed_wing_roles">Fixed wing roles</h2>
    <p>Fixed wing aircraft are build with a certain strategic or tactical scope in mind. They are also equipped for the mission that they are carrying out, with specific bombs/missiles. Some of the missions planes carry out are: <span style="color:#087b08"><strong>interception</strong></span>, <span style="color:#087b08"><strong>air superiority</strong></span>, <span style="color:#087b08"><strong>close air support</strong></span>, <span style="color:#087b08"><strong>tactical and strategic bombing</strong></span>, <span style="color:#087b08"><strong>naval and port strikes</strong></span>, <span style="color:#087b08"><strong>reconnaissance</strong></span>, etc. For most of our mission we will employ planes in <span style="color:#087b08"><strong>close air support</strong></span>, <span style="color:#087b08"><strong>reconnaissance</strong></span> and multi-role (usually <span style="color:#087b08"><strong>air superiority</strong></span> and <span style="color:#087b08"><strong>tactical bombing</strong></span>).</p>
    <h3 id="close_air_support">Close Air Support</h3>
    <ul>
        <li>You, the pilot, are deployed to serve as a force multiplier to ground elements. You are equipped with guns, missiles and bombs to kill soft and hard targets, that are called out by leading elements. You are expected to be swift and precise with your attacks, as to clear any obstacle friendly ground troops are encountering but careful not to harm them also! You are expected to use your weapons for the best targets and not “over-kill” (e.g. ATGM shouldn't be used for a btr-80 since you should have guns or unguided missiles that can do the job), as to prolong the time you are on station and able to assist.</li>
        <li>In this type of mission you should expect air superiority over the battle area but don't neglect the threat of ground AA. In the case that enemy air assets appear over the area you are not to engage them unless already engaged. When being engaged by an enemy jet remember that you are equipped with short range AA missiles to defend yourself. You may be called to take out enemy rotary targets, for this job you will employ the guns available on the aircraft and NOT the defensive AA missiles. There are exception, such as: high number of enemy helicopters, urgency (friendly ground elements are in immediate danger), enemy has an attack helicopter that comes with AA missiles.</li>
    </ul>
    <h3 id="air_superiority">Air superiority</h3>
    <ul>
        <li>This type of mission requires you to keep enemy air assets away from a preset area. You are here to prevent any type of plane, drone or helicopter to conduct any type of mission. This doesn't necessarily mean you have to take them out. Just appearing as a deterrent is sometimes enough to make them abort their mission. If you are to engage them do so from a distance by using your radar guided missiles and get closer to use your short range missiles and the cannon only after you have expended them!</li>
    </ul>
    <p>Maintaining air superiority over the operation area is top priority when it comes to mission integrity and success.</p>
    <ul>
        <li>Enemy air assets can “sneak” through a defended area because of the sheer size it has. Remember that other air and ground assets depend on you defending the sky above them.</li>
    </ul>
    <h3 id="reconnaissance">Reconnaissance</h3>
    <ul>
        <li>When you fly at your cruising altitude use the targeting camera and area lock feature (ctrl+m2 and ctrl+t) to spot and identify enemy forces in the AO. Try to reduce speed and maintain a stable throttle while you circle around. Do not reduce altitude or deviate from your circling pattern, keep your distance from the area of operations and other aircraft, including friendly helicopters and supply drops.
            <ul>
                <li>Using the targeting camera you will be able to see the grid number of your target, you now have to use landmarks near the target to find and mark the enemy asset on your map.</li>
                <li>Mark small ground units like infantry and jeeps in the Side channel with EI; bunkers will be marked as BNK, armoured vehicle with their name and a unique number(e.g. MBT 3).</li>
                <li>Remember to always keep an eye on your heading, speed and altitude.</li>
                <li>Leave the area if threats become imminent (enemy aircraft or SAM activity).</li>
            </ul></li>
    </ul>
    <h3 id="tactical_bombing">Tactical Bombing</h3>
    <ul>
        <li>When tasked with a tactical bombing mission you are expected to engage targets of immediate military value (e.g. vehicle, infantry, radars, defensive structures, supply trucks/deposit etc.). These can be already engaging other friendly units, about to or far away from any friendly position. You are here to deplete or kill enemy assets to weaken them on an operational level. Done from high altitude or close to the ground (close air support) it is highly reliant on the precision of the information available and the time it was acquired.</li>
    </ul>
    <h2 id="preflight_checklist">Preflight checklist</h2>
    <ol>
        <li><span style="color:#087b08"><strong>Flight controls</strong></span> - Make sure you have all the necessary controls configured.</li>
        <li><span style="color:#087b08"><strong>Equipment</strong></span> - Double check if you have your Micro DAGR,radio and parachute on you, and look at the time and decide if you need to use your night vision or not.</li>
        <li><span style="color:#087b08"><strong>Cockpit configuration</strong></span> - Check if you have your radar displayed at minimum 8 km, configure your HMD Gps/Micro DAGR.</li>
        <li><span style="color:#087b08"><strong>Set your radios</strong></span> - Connect to the onboard radio and configure it and the 152 to different ears. (remember to switch to airnet 1)</li>
        <li><span style="color:#087b08"><strong>Weapon check</strong></span> - Toggle through all your weapons and check if they are loaded.</li>
        <li><span style="color:#087b08"><strong>Taxi</strong></span> - Turn your engine on and taxi to the runway.</li>
        <li><span style="color:#087b08"><strong>Take off</strong></span></li>
    </ol>
    <h2 id="rules_of_engagement">Rules of Engagement</h2>
    <p><span style="color:#087b08"><strong>The mandatory RoE for the jet pilots during our missions are:</strong></span></p>
    <ul>
        <li>close communication with FAC to ensure IFF and avoid mass casualties</li>
        <li>no engagement of civilian occupied areas</li>
        <li>no engagement of enemies closer than 100 meters of friendlies</li>
        <li>no destruction of cultural or religious buildings</li>
        <li>no engagement of medical personnel and ambulances</li>
        <li>no engagement of targets closer the 100 from fragile objectives</li>
        <li>no engagement without an order from SL, PL or FAC</li>
        <li>use of the right munition for the task</li>
        <li>no “tricks” over friendly units and no dangerous flying, you are not here to show off</li>
    </ul>
    <h2 id="fac_role_with_fixed_wing_element">FAC role with Fixed Wing Element</h2>
    <p>As a Forward Air Controller your main job is to coordinate with the pilot to ensure a good line of communication:</p>
    <ul>
        <li>The pilot is required to relay information to you about his state/intention. <span style="color:#087b08"><strong>e.g.</strong></span> he is getting engaged by AAA, going back to rearm/refuel, engaging enemy air assets, etc.</li>
        <li>You are the only person that is aware of the state of the pilot, at all times, besides himself. This makes sure PL can have sufficient information about the plane to coordinate the platoon.</li>
        <li>The communication with the pilot can be as "casual" as you want/feel comfortable, use appropriate call signs or describe stuff as well as you can, but make sure the ideas make it across.</li>
        <li>Sometimes the pilot will be outside the 152 range, in this situation you will relay the orders to the pilot directly from the PL.</li>
        <li>As FAC you will have 3 radio: -343 -152 -117
            <ul>
                <li>You are required to keep 2 open, these being the 343 and the 117; the 152 should be used in emergency situation when platoon is killed or down.</li>
                <li>The 343 will be used to talk to the platoon and especially to PL and SGT, while the 117 is the direct line to the pilot (this radio <span style="color:#087b08"><strong>will be set to channel 5, airnet-1</strong></span> )</li>
            </ul></li>
        <li>You are equipped with a laser designator, which you can use to give a good marker to the pilot, so he can have a very easy time attacking a target.</li>
        <li>You are also equipped with smoke grenades which you can use to designate friendly position, so the pilot can do area denial attacks using colored smoke and a given bearing.</li>
        <li>You will often get information on the enemy position accompanied by markers from the pilot.
            <ul>
                <li>The markers might not be always preset. As FAC, you can use the verbal information from the pilot to place question marks on the map with the name of the asset identified; delete these marker after friendlies passed through the area and cleared it.</li>
                <li>Some of this information might be relevant to the PL, so do be vigilant and communicate it.</li>
            </ul></li>
        <li>At the end of the day you are a rifleman, so remember to shoot and coordinate inside the platoon.</li>
    </ul>
    <h2 id="weapon_systems">Weapon systems</h2>
    <p>The following weapon systems have been chosen for use in operations, and they should be employed based on their type, range, and mode with which it acquires targets:</p>
    <ul>
        <li><span style="color:#087b08"><strong>AIM-9X Sidewinder</strong></span> type: Short range air-to-air, targeting: IR</li>
        <li><span style="color:#087b08"><strong>AGM-65F Maverick</strong></span> type: ATGM, targeting: IR, charge: HEAT</li>
        <li><span style="color:#087b08"><strong>AGM-154-A1 JSOW</strong></span> type: Cluster bomb, targeting: GPS, charge: high explosive</li>
        <li><span style="color:#087b08"><strong>AIM-120C AMRAAM</strong></span> type: Medium range air-to-air, targeting: active radar</li>
        <li><span style="color:#087b08"><strong>AIM-9M Sidewinder</strong></span> type: Short range air-to-air, targeting: IR</li>
        <li><span style="color:#087b08"><strong>Hydra 70 M261 MPSM LAU-61/A</strong></span> type: HE rockets, targeting: unguided, charge: Multipurpose sub munitions</li>
        <li><span style="color:#087b08"><strong>AGM-65G Maverick</strong></span> type: ATGM, targeting: IR, charge: HEAT</li>
        <li><span style="color:#087b08"><strong>GBU-56 LJDAM</strong></span> type: Large diameter bomb, targeting: Laser guided, charge: HE</li>
        <li><span style="color:#087b08"><strong>EGBU-12 Enhanced Paveway ll</strong></span> type: small diameter bomb, targeting: Laser guided, charge: HE</li>
        <li><span style="color:#087b08"><strong>R60M</strong></span> type: medium range air-to-air, targeting: IR</li>
        <li><span style="color:#087b08"><strong>KH-25MTP</strong></span> type: ATGM, targeting: IR, charge: HEAT</li>
        <li><span style="color:#087b08"><strong>S-8 KOM</strong></span> type: HEDP Rockets, targeting: unguided, charge: HEAT</li>
    </ul>
    <p>For more information, check the <a href="/handbook/Extended_handbook">extended handbook</a>.</p>
    <h2 id="glossary">Glossary</h2>
    <ul>
        <li>HMD - Helmet-mounted display</li>
        <li>AO - Area of operation</li>
        <li>SAM - Surface-to-air missile</li>
        <li>FAC - Forward air controller</li>
        <li>IFF - Identification, Friend or Foe</li>
        <li>ARM - Anti radiation missile</li>
        <li>LGB - Laser guided bomb</li>
        <li>PGGB - Precision guided glide bomb</li>
        <li>HEAT- High explosive anti-tank</li>
        <li>IR - Infrared</li>
    </ul>
</div>
