<div class="container pt-3">
    <p>Arma 3 uses two different flight models: Basic and Advanced. Both are accepted in our unit and set client side, not server side. This means that you personally chose which one you want to use when flying a helicopter. This page provides an overview over the differences and helps you make your choice.</p>
    <h2 id="basic_flight_model">Basic Flight Model</h2>
    <p>The basic model is for pilots who don't have the time to become good with the advanced or who do not enjoy the added simulation aspect of the advanced flight model. It tends to be more arcade than simulation.</p>
    <p>Pilots choosing this system will not perform worse than pilots using the advanced system most of the time. However, there are some manoeuvres which are difficult but possible to do with the basic model.</p>
    <p>To set your game to use the basic model, go to configure -&gt; game. On the general tab, on the top right side select "Standard" as flight model.</p>
    <h3 id="hardware_requirements">Hardware Requirements</h3>
    <p>Minimum hardware requirements for this are two axis, both for the cyclic. You do not need the axis for collective control since altitude is held automatically for you in basic. In fact, you can not use it even if you have it, since altitude manipulation input is digital. Giving input to lower collective, the game will give close to zero collective for the helicopter, and giving input to increase collective, the game will give the helicopter maximum collective. Giving no input at all will constantly adjust your collective to keep the helicopter at one altitude as best as possible, depending on what else you are doing with the helicopter.</p>
    <p>However, you may eventually wish to get a third axis for the pedals to have a better control over your yawing. Since you can use your mouse for two axis, most pilots are fine using mouse and keyboard.</p>
    <h2 id="advanced_flight_model">Advanced Flight Model</h2>
    <p>Advanced takes significantly more time to learn before you can pull of even basic manoeuvres or landings. While it does give you a little bit more feeling and fine control in your helicopter than the basic does, this should not influence your decision too much. The main positive aspect of the advanced system is simply the better simulation of actual flight. While Arma is not and never will be a flight simulator, the difference between basic and advanced is pretty big in regards to simulation.</p>
    <p>The advanced model does not automatically manage your altitude, and torque of the engine on the air frame is simulated, meaning that you need to work more on your pedals to counter this effect. In general, it will be much more stressful to manage your helicopter initially, and will require significantly more time investment before you are on level with pilots using the basic model. The payoff is that the vehicle feels much more like an actual helicopter (while, of course, still being very far away from an actual simulation).</p>
    <p>The advanced system can be further trimmed to your preferences. In our flight school we use the following settings when teaching advanced:</p>
    <ul>
        <li>Show gauges: Enabled</li>
        <li>Rough landings: Disabled (this setting will punish you for landing too hard)</li>
        <li>Wind Effects: Enabled</li>
        <li>Auto Trim: Disabled</li>
        <li>Stress Damage: Enabled (This will damage your helicopter if you are performing manoeuvres too stressful for the helicopter)</li>
    </ul>
    <h3 id="hardware_requirements_1">Hardware Requirements</h3>
    <p>Minimum hardware requirements for this are four axis: two for cyclic, one for the collective and one for the pedals. All of them are necessary to keep control over your helicopter while using the advanced flight model. This means that mouse and keyboard are not sufficient anymore, and a flight stick is strongly recommended. For beginners who are unsure if they want to continue using this system I can recommend the Logitech T.Flightstick X for around ~35€. It provides you with all four axis you need.</p>
    <h2 id="making_your_choice">Making your choice</h2>
    <p>If you tend to the advanced system remember that it takes more time and effort to learn this system. Much of this time will be spend with repetitions and very basic flight manoeuvres. If this is not what you enjoy in a game then do not chose this system. Do not expect a quick payoff. However, do remember that the basic system also requires some time investment.</p>
    <p>Consider that changing the flight system after having spend some time in the other one might be worse than starting with the other one straight away, since you will have to unlearn some behaviour. Much of the time you spend training in the other system will have been wasted. It is therefore recommended to directly chose the system you intend to stay on.</p>

</div>
