<div class="container pt-3">

    <h1>Recruitment Process</h1>
    <p>Our recruitment process follows these simple steps:</p>
    <ol>
        <li><strong style="color:#087b08">Application</strong> - We will review the application and get in direct contact with the applicant and inform him about the process.</li>
        <li><strong style="color:#087b08">Interview</strong> - The applicant get invited to teamspeak to an Interview. This is mainly to get in contact and give further information and instructions.</li>
        <li><strong style="color:#087b08">Confirmation</strong> - Once the Interview is done we will confirm the applicant and officially invite him.</li>
        <li><strong style="color:#087b08">Preparation</strong> - The applicant will use the given details and instructions to download our modset.</li>
        <li><strong style="color:#087b08">Mentoring</strong> - Once the applicant has a working modset he will be invited to a mentoring session. We will assess his knowledge and skills and bring him up to our standard individually or in small groups. That ensure a smooth transition into our group. Also it allows to individually teach people which allows us to take people with various different skill levels without teaching things they already know or teach them advanced things without them having the basics.</li>
    </ol>

    <hr>
    <h1>Installing Mods</h1>
    <p>
        The first thing you need to do when you join us is to start downloading the modset. We use the Steam Workshop for distribution. The exact collection and installable preset can be found in a pinned message on our Discord.
        <br>
        Also notice that the ACRE mod requires you to also install a teamspeak plugin. This plugin will attempt to install automatically when first launching the game with our modset enabled.
    </p>

    <hr>
    <h1>ACE 3 Mod</h1>
    <p>ACE 3 is a mod that brings a lot of aspects to the game in regards of simulating reality. Generally if you are not familiar with it, it is recommended that you familiarise yourself with it before your first session. Note that we use a lot of customizations and enhancements.</p>

    <hr>
    <h1>ACRE Mod</h1>
    <p>Being able to use the radio is essential. Make sure to read the communication section of the handbook.</p>

    <hr>
    <h1>Your First Mission</h1>
    <p>Now it is time to talk about you first mission with us. Depending on your prior experience with ArmA it might be challenging to keep up. Just make sure to keep calm and focus. If you have questions, ask them. We will try to put you in a buddy team with a more experienced member to help you along.</p>
    <ul>
        <li><strong style="color:#087b08">Be prepared</strong> - Make sure your mods are installed and running.</li>
        <li><strong style="color:#087b08">Be on time</strong> - Make sure you are present early enough for preparation.</li>
        <li><strong style="color:#087b08">Ask questions</strong> - Ask in case you have any question. Do not be shy.</li>
        <li><strong style="color:#087b08">Inform your SL</strong> - Tell your squad leader that this is your first operation.</li>
        <li><strong style="color:#087b08">Follow Orders</strong> -  Each team requires a structure and chain of command. Respect the chain of command and follow orders.</li>
        <li>
            <strong style="color:#087b08">Follow the Rules</strong> - There are some rules regarding customization of loadouts.
            <ul>
                <li>You may get another weapon sight from the equipment action box (green - low zoom level).</li>
                <li>With permission you may get addition ammunition.</li>
                <li>Keep your primary weapon empty during the preparation phase. Load your weapon just before start of the insertion.</li>
                <li>Do not attack civilians.</li>
                <li>Do not attack teammates intentionally.</li>
                <li>Be respectful.</li>
            </ul>
        </li>
    </ul>

    <hr>
    <h1>Operation Structure</h1>
    <ul>
        <li><strong style="color:#087b08">Assignment</strong> - Gather in the lobby and wait for orders. The mission runner and operation commander will decide on the composition of the unit.</li>
        <li><strong style="color:#087b08">Briefing</strong> - The mission runner will give a mission briefing. If there are any questions regarding the situations or objective come up, ask them.</li>
        <li><strong style="color:#087b08">Setup</strong> - Getting radios set up and tested, operators get their loadouts assigned and equip them. Soldiers can customize their gear.</li>
        <li><strong style="color:#087b08">Planning</strong> - The commander presents his plan to for the operation.</li>
        <li><strong style="color:#087b08">Infiltration</strong> - Units insertion in to the combat area. Load your weapon before moving out.</li>
        <li><strong style="color:#087b08">Execution</strong> - Execution of the mission.</li>
        <li><strong style="color:#087b08">Exfiltration</strong> -  Exfiltration from the area of operation.</li>
        <li><strong style="color:#087b08">End / Debrief</strong> - End of the mission and short debrief.</li>
    </ul>

</div>
