<div class="container pt-3">
    <p>This page is outlining our regulations and procedures we expect our members to follow.</p>
    <h2 id="procedures">Procedures</h2>
    <p>Our procedures can be found <a href="/handbook/Procedures">here</a>.</p>
    <h2 id="regulations">Regulations</h2>
    <p>Our regulations can be found <a href="/handbook/Regulations">here</a>.</p>
</div>
