<div class="container pt-3">
    <h2 id="operation_procedures">Operation Procedures</h2>
    <ol>
        <li><span style="color:#087b08"><strong>Briefing</strong></span> - Mission Runner (Creator) presents the Mission Briefing on the Briefing Screen.</li>
        <li><span style="color:#087b08"><strong>Equipment Assignment</strong></span> - Platoon Leader assigns Equipment to Squads such as MMG, MAT or other special Roles.</li>
        <li><span style="color:#087b08"><strong>Squad Assembly</strong></span> - Squad Leader assigns Roles to Operators and special Equipment (Lockpicks, etc.) to individuals. Individuals get their Loadouts and conduct adjustments.</li>
        <li><span style="color:#087b08"><strong>Squad Briefing</strong></span> - Squad Leader briefs his Squad and defines the internal Chain of Command (2IC, etc.). Checking the Composition and Equipment. Radio check. Reports to Platoon Leader when ready to proceed.</li>
        <li><span style="color:#087b08"><strong>Platoon Briefing / First Orders</strong></span> - Platoon Leader presents his Plan. Outlining the specifics on how he want to attack the first objective and how to get to the AO specifically. Squad Leaders may ask questions and input their concerns. At the end of this progress stands the initial plan.</li>
        <li><span style="color:#087b08"><strong>Roll Out</strong></span> - Lock and Load. Start of the Insertion and the actual Mission.</li>
    </ol>
    <h2 id="join_in_progress">Join in Progress</h2>
    <p>Follow the outlined Procedures when Joining during a Session.</p>
    <ul>
        <li><span style="color:#087b08"><strong>After Crashing</strong></span> - Join your old slot and pick your initial assigned Loadout. Use JIP-Teleporter to unite with your unit. If initial slot is occupied by someone else follow "Joining Late" Procedure.</li>
        <li><span style="color:#087b08"><strong>Joining Late</strong></span> - Join on a free slot of the Ground Units (Priority on existing units). If no existing Unit has slots, open a new one.
            <ul>
                <li>Report to the Leader of the existing unit by asking in the side chat what you should take.</li>
                <li>If you have formed a new unit, contact the Platoon Leader / Platoon Sergeant.</li>
                <li>Get the Assigned Loadout and join your unit. If you have formed a new unit report to the Platoon Leader / Platoon Sergeant in the field.</li>
                <li>Use JIP-Teleporter accordingly (if you are leader, click on map to get teleported to that position).</li>
            </ul></li>
    </ul>
    <h2 id="dealing_with_bugs">Dealing with Bugs</h2>
    <ul>
        <li><span style="color:#087b08"><strong>Stuck</strong></span> - If you are stuck somewhere you cannot free yourself, contact the Mission Runner (Admin on Server).
            <ul>
                <li>Option 1: He can teleport you out of your position.</li>
                <li>Option 2: He asks you to reconnect (follow JIP Procedure).</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Others</strong></span> - Inform Mission Runner. He probably can only ask you to reconnect. May post a more detail description and your RPT logs on discord afterward.
            <ul>
                <li>Often fixes in the field are impossible.</li>
                <li>Provide details and Logs afterward so problems can be fixed for the future.</li>
                <li>If the issue is Mission Relevant in function and likely a fault by the creator, contact the Mission Runner, he may be able to fix the issue remotely.</li>
            </ul></li>
    </ul>
    <h2 id="reinforcements">Reinforcements</h2>
    <ul>
        <li><span style="color:#087b08"><strong>Manual Respawn</strong></span> - You are not allowed to Manual Respawn without specific permission by Mission Runner.</li>
        <li><span style="color:#087b08"><strong>Spectator</strong></span> - Do not share information with players who not Spectators. If stuck in Spectator for a while without additional Casualties occurring to trigger a Respawn Wave, may contact Mission Runner either he will allow you to respawn (he can force a respawn wave).</li>
        <li><span style="color:#087b08"><strong>After Respawn</strong></span> - Form a new Unit with those who respawned with you.
            <ul>
                <li>Wait 2-3 min before moving out for the wave to finish.</li>
                <li>Form a new Unit.</li>
                <li>Set Callsign (select an un-occupied one).</li>
                <li>Follow Mission Specific Reinsertion Method.</li>
                <li>Once back in the AO immediately report to Platoon Leader / Platoon Sergeant.</li>
                <li>You may be sent to regroup with your initial Unit. Act as a new Unit until you arrived at the location with whatever Unit you have been ordered to merge with.</li>
            </ul></li>
    </ul>
    <h2 id="mission_end">Mission End</h2>
    <p>See <a href="/handbook/Debrief">Debrief</a> Guide.</p>
</div>
