<div class="container pt-3">
    <h2 id="general">General</h2>
    <p>Qualifications allow members to certify their skills in certain areas. The infantry qualification is mandatory for all members, others qualifications are voluntary.</p>
    <figure>
        <img src="/wiki/images/ExpInf.png" title="ExpInf.png" width="100" alt="ExpInf.png" style="float: right" /><figcaption aria-hidden="true">ExpInf.png</figcaption>
    </figure>
    <h2 id="infantryman">Infantryman</h2>
    <p>Requirements: None / Mandatory for all Members</p>
    <p>Content:</p>
    <ul>
        <li>Weapon Proficiency:
            <ul>
                <li>Assault Rifle</li>
                <li>40mm Grenade Launcher</li>
                <li>Autorifle</li>
                <li>Light-AT Launcher</li>
            </ul></li>
        <li>First Aid
            <ul>
                <li>Medical Procedures (focus First-Aid)</li>
            </ul></li>
        <li>Chemical Procedures
            <ul>
                <li>Countermeasures</li>
                <li>Treatment</li>
            </ul></li>
        <li>CQB Procedures</li>
        <li>Basic Communication
            <ul>
                <li>Radio Procedures</li>
            </ul></li>
        <li>Field Navigation
            <ul>
                <li>Marking Targets</li>
                <li>Tool Application: Map Tools, Vector</li>
            </ul></li>
        <li>Free-Fall Parachuting
            <ul>
                <li>HALO</li>
                <li>HAHO</li>
            </ul></li>
        <li>Fast-Roping Procedure</li>
    </ul>
    <figure>
        <img src="/wiki/images/HW.png" title="HW.png" width="100" alt="HW.png" style="float: right" /><figcaption aria-hidden="true">HW.png</figcaption>
    </figure>
    <h2 id="heavy_weapons">Heavy Weapons</h2>
    <p>Requirements: Infantryman Qualification</p>
    <p>Content:</p>
    <ul>
        <li>Heavy Weapon Proficiency
            <ul>
                <li>Medium Machine Gun</li>
                <li>M3 MAAWS
                    <ul>
                        <li>Direct Fire</li>
                        <li>Airburst</li>
                    </ul></li>
                <li>RPG-7</li>
                <li>NLAW</li>
                <li>Javelin</li>
            </ul></li>
        <li>Effective engagement of armoured targets both moving and static</li>
    </ul>
    <figure>
        <img src="/wiki/images/MM.png" title="MM.png" width="100" alt="MM.png" style="float: right" /><figcaption aria-hidden="true">MM.png</figcaption>
    </figure>
    <h2 id="marksman">Marksman</h2>
    <p>Requirements: Infantryman Qualification</p>
    <p>Content:</p>
    <ul>
        <li>Weapon Proficiency
            <ul>
                <li>Designated Marksman Rifle
                    <ul>
                        <li>Accurate up to 800m</li>
                    </ul></li>
                <li>Sniper Rifle
                    <ul>
                        <li>Accurate up to 1000m</li>
                    </ul></li>
                <li>Anti-Material-Rifle</li>
            </ul></li>
        <li>Concealed Movement</li>
    </ul>
    <figure>
        <img src="/wiki/images/CE.png" title="CE.png" width="100" alt="CE.png" style="float: right" /><figcaption aria-hidden="true">CE.png</figcaption>
    </figure>
    <h2 id="engineer">Engineer</h2>
    <p>Requirements: Infantryman Qualification</p>
    <p>Content:</p>
    <ul>
        <li>Repair</li>
        <li>Fortification Construction
            <ul>
                <li>Setting up Defenses</li>
                <li>Fortifying Positions</li>
            </ul></li>
        <li>Explosives
            <ul>
                <li>Knowledge about common type Explosives</li>
                <li>Explosive Ordnanace Disposal</li>
                <li>Demolitions</li>
            </ul></li>
    </ul>
    <figure>
        <img src="/wiki/images/MED.png" title="MED.png" width="100" alt="MED.png" style="float: right" /><figcaption aria-hidden="true">MED.png</figcaption>
    </figure>
    <h2 id="medic">Medic</h2>
    <p>Requirements: Infantryman Qualification</p>
    <p>Content:</p>
    <ul>
        <li>Medical Procedures
            <ul>
                <li>Treatment Procedures</li>
                <li>Rules and Guidelines</li>
            </ul></li>
        <li>Medical Knowledge</li>
        <li>Triage Station Management</li>
    </ul>
    <figure>
        <img src="/wiki/images/ROTA.png" title="ROTA.png" width="100" alt="ROTA.png" style="float: right" /><figcaption aria-hidden="true">ROTA.png</figcaption>
    </figure>
    <h2 id="rotary_aviation">Rotary Aviation</h2>
    <p>Requirements: Infantryman Qualification, Copilot Qualification, Participation in at least one training session. This certification is mandatory to fly rotary aircraft in our operations.</p>
    <p>Content:</p>
    <ul>
        <li>Theory
            <ul>
                <li>Micro DAGR</li>
                <li>Pre flight planning</li>
                <li>Basic Knowledge about helicopters (Mainly UH-60, MH-9 / AH-9, and CH-47)</li>
                <li>Communication Procedures</li>
                <li>Navigation</li>
            </ul></li>
        <li>Practice
            <ul>
                <li>Safe and reliable handling of a helicopter in flight</li>
                <li>Safe, reliable, and timely insertion and exfiltration of personnel</li>
                <li>Sling Loading</li>
                <li>Operating FRIES</li>
                <li>Emergency Maneuvers and Procedures</li>
                <li>Formation Flight</li>
                <li>Scouting</li>
                <li>Safe, reliable, and timely Close Air Support</li>
                <li>Operation and procedures of attack helicopters</li>
                <li>Performing all of the above in day and night time conditions, under fire, and in difficult weather</li>
            </ul></li>
    </ul>
    <h2 id="copilot_rotary_aviation">Copilot Rotary Aviation</h2>
    <p>Requirements: Infantryman Qualification, Participation in at least one training session. This certification is mandatory to be a copilot in a rotary aircraft in our operations.</p>
    <p>Content:</p>
    <ul>
        <li>Theory
            <ul>
                <li>Micro DAGR</li>
                <li>Pre flight planning</li>
                <li>Basic Knowledge about helicopters (Mainly UH-60, MH-9 / AH-9, and CH-47)</li>
                <li>Communication Procedures</li>
                <li>Navigation</li>
            </ul></li>
        <li>Practice
            <ul>
                <li>Safe handling of a helicopter in flight</li>
                <li>Safe landings in easy conditions</li>
                <li>Operating the helicopter mounted camera for scouting and designating targets</li>
                <li>Assistance to the pilot when doing
                    <ul>
                        <li>Sling Loading</li>
                        <li>FRIES Operation</li>
                        <li>Emergency Procedures</li>
                        <li>Insertion and Exfiltration of Infantry</li>
                        <li>CAS</li>
                    </ul></li>
                <li>Performing the gunner role on combat helicopters</li>
            </ul></li>
    </ul>
    <figure>
        <img src="/wiki/images/armoured.png" title="armoured.png" width="100" alt="armoured.png" style="float: right" /><figcaption aria-hidden="true">armoured.png</figcaption>
    </figure>
    <h2 id="armoured">Armoured</h2>
    <p>Requirements: Infantryman Qualification, two crew man , leadership qualification is recommended but not mandatory.</p>
    <p>Can be done during an OP or scheduled Privately.</p>
    <p>Content:</p>
    <ul>
        <li>Theory
            <ul>
                <li>Basic understanding of the Roles and Responsibilities of the crew.</li>
                <li>Proper Communication
                    <ul>
                        <li>Usage of the CIE (Commander Initiated Engagement)</li>
                    </ul></li>
                <li>Understanding of the Tools the vehicle offers:
                    <ul>
                        <li>Countermeasures,</li>
                        <li>Weaponry,</li>
                        <li>Type of ammo.</li>
                    </ul></li>
                <li>Knowledge about basic Tank Terminology
                    <ul>
                        <li>Hulldown , Hide position , Jockeying etc.</li>
                    </ul></li>
                <li>Knowing how to perform emergency repairs, how to perform regular repairs and where to get said repairs.</li>
                <li>Knowing what Targets are a priority and which are not (Tank RoE).</li>
                <li>Coordination with other elements.</li>
            </ul></li>
    </ul>
    <ul>
        <li>Practice:
            <ul>
                <li>Leading the crew.</li>
                <li>Upholding the General RoE and the Tank RoE (Rules of Engagement)</li>
                <li>Positioning of the Vehicle.</li>
                <li>Attacking enemy Positions.</li>
                <li>Providing Safe Fire Support.</li>
            </ul></li>
    </ul>
    <figure>
        <img src="/wiki/images/WING.png" title="WING.png" width="100" alt="WING.png" style="float: right" /><figcaption aria-hidden="true">WING.png</figcaption>
    </figure>
    <h2 id="fixed_wing_aviation">Fixed Wing Aviation</h2>
    <p>Requirements: Infantryman Qualification, Participation in at least one training session. This certification will allow you to fly fixed wing aircraft in our operations.</p>
    <ul>
        <li>Theory
            <ul>
                <li>Micro DAGR</li>
                <li>Pre flight planning</li>
                <li>Basic knowledge about jets</li>
                <li>Basic knowledge of weapon systems</li>
                <li>Communication procedures</li>
                <li>Navigation</li>
            </ul></li>
        <li>Practice
            <ul>
                <li>Smooth and reliable handling of a jet</li>
                <li>Safe, quick and reliable CAS</li>
                <li>Ability to use the appropriate munitions for every task received</li>
                <li>Safe airfield and carrier operations</li>
                <li>Emergency maneuvers and procedures</li>
                <li>Basic combat maneuvers</li>
                <li>Scouting</li>
            </ul></li>
        <li>Performing all of the above during day and night, under fire, and in bad weather</li>
    </ul>
</div>
