<div class="container pt-3">
    <p><img class="float-end element-icon" src="/wiki/images/BFT_R1.png" title="BFT_R1.png" alt="BFT_R1.png"></p>
    <p>This page is intended as a supplement to the Rotary Wing Training. It will not work as a replacement for live training sessions.</p>
    <h2 id="before_joining_your_first_training_session">Before joining your first training session</h2>
    <h3 id="for_copilots_and_pilots">For Copilots and Pilots</h3>
    <p>If you wish to enrol in the rotary flight program you need to have full membership (meaning you need to have the infantryman qualification).</p>
    <p>Before joining the first flight training read up about the <a href="/handbook/Flight_models">flight models</a> and configure your game accordingly. Those who only intend to do the copilots certification are strongly encouraged to use the basic flight model.</p>
    <p>If you wish to do so you can train on your own instead of joining the rotary training regularly. However, a requirement for taking the pilot's or copilot's certification test is having participated in at least one training session shortly before asking for the test (since they take quite some time, and we want to make sure that you could pass it before trying). The requirements for both the pilot's and copilot's certification are listed on the <a href="/handbook/Qualifications">qualification page</a> of the handbook.</p>
    <h3 id="for_copilots">For Copilots</h3>
    <p>If you only intend to fill the copilot's seat during our operations the requirements are drastically lower than for pilots. Your main job will be assisting the pilot while he is doing his job, but there are also certain tasks only you can perform, such as operating the helicopter mounted camera for scouting and laser designating targets. You will also be learning how to perform the gunner's role in a combat helicopter.</p>
    <p>However, a copilot is also required to learn how to fly and land a helicopter. The requirements for both tasks are much below what is expected from a pilot. You will, for example, only be asked to make landings in open spaces while not under fire (which is what you would do if the pilot gets shot). You should be prepared to invest a bit of time between training sessions into training these fundamental skills.</p>
    <p>Copilots are usually certified during training sessions once they have proven the ability to perform their duties.</p>
    <h3 id="for_pilots">For Pilots</h3>
    <p>Learning how to fly helicopters is not easy. When flying in an operation you are responsible for the lives of your passengers. Flying in a dangerous way to impress passengers or due to lacking skill might cause the helicopter to crash and delay the operation for up to twenty minutes while everyone is respawning end setting up again. Deploying a helicopter's weapon systems in an unsafe, not-communicated manner is similarly dangerous to ground units. This is why we require helicopter pilots to make their licence before being allowed a seat in the cockpit.</p>
    <p>Please remember that learning how to fly requires a significant investment of time from your side, and training only during the training sessions will not be sufficient. If you are a new pilot it is expected that you invest at least one additional hour each week into training on your own. If you can not make this kind of time investment you will probably not be able to learn how to fly and the training instructor and you yourself will just be wasting everyone's time.</p>
    <p>Certifications for Pilots are conducted on a 1-on-1 basis and will be scheduled once both you and the instructor feel that you are likely to pass.</p>
    <img class="float-end" src="/wiki/images/AviationTeam.png" title="AviationTeam.png" width="250" alt="AviationTeam.png" />
    <h2 id="helicopter_crew">Helicopter Crew</h2>
    <p>Depending on the Helicopter and the Pilot the crew consists of up to two people.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Pilot</strong></span> - Flies the Helicopter and generally in charge including his cargo. He is responsible for everything in regard to the helicopter from route planning, selection of landing zones and deployment of the guns unless he delegates duties to the Co-Pilot.</li>
        <li><span style="color:#087b08"><strong>Co-Pilot</strong></span> - Responsible for assisting the Pilot. Generally takes care of communication and operates the guns. Furthermore, he assists with navigation and marks spotted targets.</li>
    </ul>
    <h2 id="preflight_checklist">Preflight Checklist</h2>
    <ol>
        <li><span style="color:#087b08"><strong>Destination</strong></span> - Make sure to have a plan for ingress and know where you need to go.</li>
        <li><span style="color:#087b08"><strong>Sensors and GPS</strong></span> - Have your normal GPS, your MicroDAGR and your helicopter's sensory systems readied.</li>
        <li><span style="color:#087b08"><strong>Copilot</strong></span> - Release Controls if you have a copilot who has a rudimentary understanding of how to fly a helicopter.</li>
        <li><span style="color:#087b08"><strong>Night vision</strong></span> - Check the clock, if it's going to be dark soon you will need to equip your NV-Goggles now as you can't in a vehicle.</li>
        <li><span style="color:#087b08"><strong>Zero Collective</strong></span> - Avoids dangerous sliding or unwanted liftoffs.</li>
        <li><span style="color:#087b08"><strong>Engine on</strong></span></li>
        <li><span style="color:#087b08"><strong>Transport Helicopter: Wait for passengers</strong></span> - If you are transporting crew, wait until all are in. You need to wait for clearance from the senior ground leader on board.</li>
        <li><span style="color:#087b08"><strong>Stable Rotor RPM</strong></span> - All helicopters have an instrument that shows this, you can also hear it. Collective is still at zero.</li>
        <li><span style="color:#087b08"><strong>In Formation: Request liftoff</strong></span> - If in formation with other helicopters wait for the group leader to give clearance for liftoff.</li>
        <li><span style="color:#087b08"><strong>Liftoff</strong></span></li>
    </ol>
    <h2 id="navigation_task">Navigation &amp; Task</h2>
    <ul>
        <li><span style="color:#087b08"><strong>General</strong></span> - If navigation is offloaded to the Co-Pilot it is mostly handled by giving bearings and distances to upcoming waypoints, although landmarks to orientation can greatly increase the effectiveness. We use the MicroDAGR as a navigation tool (<a href="https://ace3.acemod.org/wiki/feature/microdagr.html">Guide for MicroDAGR</a>).
            <ul>
                <li>Terrain Concealment - Utilize the terrain to mask your approach and limit your exposure to enemy locations.</li>
                <li>Exit Route - Always have an exit route to quickly leave the area to a safe zone.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Landing Zone</strong></span> - Avoid enemy locations. Plan the route avoiding obstacles if possible and select the route with minimal chance of getting spotted by enemies.</li>
        <li><span style="color:#087b08"><strong>Supply Drops</strong></span> - Same as Landing Zones, although due to the sling loaded supplies limiting the helicopter, you need to incorporate this factor in planning of a route.</li>
        <li><span style="color:#087b08"><strong>Attack Runs</strong></span> - Proper Ingress is vital to ensure an efficient attack run.
            <ul>
                <li>Use terrain as cover and ensure that you will be spotted only at the last point possible when it cannot be avoided.</li>
                <li>Ensure there is enough time for the Co-Pilot to spot the target.</li>
                <li>For a missile run, align the helicopter with the target.</li>
                <li>Preferably do not attack towards friendlies.</li>
                <li>Chose an appropriate Weapon for the target. Conserve heavier more limited weapons for the time they are most beneficial or if you have to refuel soon anyway.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Overwatch</strong></span> - Circle above the ground teams and scan the area around them.</li>
        <li><span style="color:#087b08"><strong>Scouting</strong></span> - On request or whenever overwatch is not needed or possible, scout upcoming areas in advance of ground element arrival.</li>
    </ul>
    <h2 id="communication">Communication</h2>
    <ul>
        <li><span style="color:#087b08"><strong>General</strong></span> - <a href="/handbook/Communication">Section 3 Communication</a> applies.</li>
        <li><span style="color:#087b08"><strong>Requests</strong></span> - If the request by ground forces does not contain all desired information, do not hesitate to request the missing information.</li>
        <li><span style="color:#087b08"><strong>Spotting</strong></span> - When spotting enemy movements and positions mark them on the map and give a short report over the radio.</li>
        <li><span style="color:#087b08"><strong>Reports</strong></span> - Report fuel situation and weapon statuses before they become an issue. You should notify the ground elements before you have to return to base in advance.</li>
    </ul>
    <h2 id="sling_loading">Sling Loading</h2>
    <p>The CH-47 is used as the lift helicopter capable of lifting supply crates and light vehicles. The following procedures and protocol must be observed when performing a sling load.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Altitude</strong></span> - The flight altitude of the helicopter must take into account the ropes length as well as the size of the cargo.
            <ul>
                <li>An example of this for transporting a Humvee would be: 30m Combat Altitude + 10m Rope Length + 2m Height of the Humvee. Bringing the flight altitude to 42m.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Speed</strong></span> - The flight speed of the helicopter must be not exceed 170m/s.
            <ul>
                <li>This will risk the sling loaded cargo striking the helicopter should the pilot necessitate maneuvers.</li>
                <li>Helicopter movement must also take into consideration the movement of the sling loaded cargo.</li>
            </ul></li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Navigation</strong></span> - The pilot may communicate with ground-based elements to guide the cargo into a safe drop zone</li>
    </ul>
    <h2 id="fast_roping">Fast Roping</h2>
    <p>When approaching a designated landing zone, the pilot has the option of deciding on a fast rope insertion, should the situation be appropriate. The following procedure must be followed when performing a fast rope insertion.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Before Takeoff</strong></span> - The pilot must designate a crew chief that will perform the handling of the FRIES system. It is recommended to remind him of his role during a FRIES insertion. It needs to be communicated clearly that the last guy roping out of the helicopter needs to make a corresponding callout.</li>
        <li><span style="color:#087b08"><strong>Before Arrival at DZ</strong></span> - When at an appropriate distance from the insertion point, the pilot will alert the crew chief to prepare the FRIES system. This can happen as far out as ~1km.</li>
        <li><span style="color:#087b08"><strong>Over DZ</strong></span> - When the helicopter is in position and static, the pilot will then call for the crew chief to deploy the ropes. The Crew Chief then makes the callout of "Go go go!" roughly one second after deploying ropes.</li>
        <li><span style="color:#087b08"><strong>Egress</strong></span> - Before waving off, the pilot must wait for the call from the last man to leave the helicopter. Give the last guy enough time to descend the ropes, then the pilot or copilot if available cut the ropes and leave the area.</li>
    </ul>
    <p>In regards to the methodology to performing a fast rope insertion, the following factors must be observed.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Speed</strong></span> - A maximum speed of 10 km/h must be adhered to as this will risk a rope break. In general, you should be completely static when deploying the ropes.</li>
        <li><span style="color:#087b08"><strong>Altitude</strong></span> - The maximum altitude for fast roping is 25m – 30m.</li>
    </ul>
    <h2 id="approach_to_lz_and_formation_flight">Approach to LZ and Formation Flight</h2>
    <ul>
        <li><span style="color:#087b08"><strong>Plan your approach</strong></span>. Use terrain, memorise it beforehand, fly high or low depending on terrain and threat profile in the area. As lead pilot make sure all pilots know what to do. Also make sure that all other helicopters are ready before lifting off from base. Choose a formation beforehand (staggered column or echelon left / right). The order in formation should be so that the most skilled pilots lead, the least skilled trails.</li>
        <li><span style="color:#087b08"><strong>Travel at Travel Speed</strong></span> (&gt;130km/h). Try to keep within 100-150m of the pilot in front of you and do not fly directly behind him. If you're lead make sure that stragglers can keep up (unless this would cause additional risks to you). Notify others of course changes at least one second before you make them. If anyone for whatever reason needs to break formation then do not try to re-establish original order, instead queue up at the rear. In general, you should communicate a lot. Keep it brief and precise however.</li>
        <li><span style="color:#087b08"><strong>Transition to Balanced State</strong></span> (~90-130km/h) when approaching the LZ (depending on chopper and skill of pilots in the formation between 1km and 2km away). Announce that you will switch to Balanced State [i]before[/i] you do it. Scan the terrain and find your LZ, remember that other pilots need to land here as well.</li>
        <li><span style="color:#087b08"><strong>Transition to Final Approach Phase</strong></span> (~30km/h). This phase should be very short and only happen immediately before you land. Notify others. Land so that other pilots don't have to fly over you.</li>
        <li><span style="color:#087b08"><strong>Land</strong></span>. Disembark all units, communicate with ground team and lift off once you're empty. Don't wait any longer than necessary.</li>
        <li><span style="color:#087b08"><strong>Leave the area</strong></span> as quickly and safely as possible. Go to Travel Speed and try to re-establish the formation once you are out of the danger zone.</li>
    </ul>
    <h2 id="rules_of_engagement">Rules of Engagement</h2>
    <p>The Pilot can further restrict the RoE. Gunners only fire upon clearance from the Pilot or in order to fight an immediate danger to the Aircraft. Friendly Fire and Civilian Casualties are to be prevented at any time.</p>
    <ul>
        <li><span style="color:#087b08"><strong>No Permission Required</strong></span> - Situations the helicopter is free to engage with "inexpensive weapons" e.g. Gatling Guns, no Rockets.
            <ul>
                <li>Beyond 150m from ground teams.</li>
                <li>Within 1000m of ground team (target is or will shortly become relevant to ground team e.g. in a position to attack or attacking)</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Permission Required</strong></span> - Situations the helicopter is free to engage after receiving permission from command.
            <ul>
                <li>Within 150m of ground teams.</li>
                <li>Beyond 1000m of ground teams.</li>
                <li>Deployment of "expensive weapons" e.g. rockets.</li>
                <li>Targets within 250m of fragile objectives e.g. hostages.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Not to Engage</strong></span> - Targets not allowed to be engaged.
            <ul>
                <li>Hospitals, Refugee Camps or any alike.</li>
                <li>Medical Vehicles and Personnel.</li>
                <li>Places of Worship (churches or mosques).</li>
                <li>Within 50m of fragile objectives.</li>
                <li>Within 50m of ground teams.</li>
                <li>Historic Sites / Cultural Treasures / Safe Zones</li>
            </ul></li>
    </ul>
    <p>Any engagement call be called of by the command / ground teams at all time.</p>
    <h2 id="emergency_procedures">Emergency Procedures</h2>
    <ul>
        <li><span style="color:#087b08"><strong>General</strong></span> - All Emergency Procedures have to be conducted in a short time frame. Immediate reaction by the Crew is required.</li>
        <li><span style="color:#087b08"><strong>Main Engine Failure</strong></span> - Helicopter will decent. Emergency Landing required.
            <ul>
                <li>Make distress call ("Mayday").</li>
                <li>Perform Autorotation (read below).</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Fuel Leak</strong></span> - Helicopter is losing fuel at rapid rate, due to penetrated fuel tank.
            <ul>
                <li>Perform emergency landing somewhere close by.</li>
                <li>If fuel runs out completely perform Autorotation (read below).</li>
                <li>Once landed and fuel is still present try to return to base.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Tail Rotor Failure</strong></span> - Loss of the tail rotor.
            <ul>
                <li>Phase 1:
                    <ul>
                        <li>High Velocity (above 130 or at least 80) - Increase speed to reduce spinning.</li>
                        <li>Low Velocity (below 80) - Rapidly increase forward movement. Alternatively gain altitude while spinning before pulling the noose down to force rapid speed gain.</li>
                    </ul></li>
                <li>Phase 2: Find a safe landing zone. Maintain speed to limit spinning.</li>
                <li>Phase 3: One of the following:
                    <ul>
                        <li>Fly at safe altitude and slowly decelerate until spinning starts. Turn off engine and perform Autorotation (read below). Avoid spinning.</li>
                        <li>Perform a Rolling Landing. Turn off wheel breaks and land with speed on a flat surface.</li>
                        <li>Find the sweet spot when to rapidly decelerate the helicopter to hold while landing before it spins too fast.</li>
                    </ul></li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Autorotation</strong> </span> - Landing manoeuvre without active engine.
            <ul>
                <li>Immediately put throttle to 0.</li>
                <li>Find proximity emergency landing zone.</li>
                <li>Reach landing zone and reduce forward velocity.</li>
                <li>Before impact put throttle to maximum to reduce vertical speed.</li>
            </ul></li>
    </ul>
    <h2 id="glossary">Glossary</h2>
    <ul>
        <li>Ingress - Approach to an Objective</li>
        <li>Egress - Path away from the AO or Objective</li>
        <li>RTB - Return to Base</li>
        <li>WP - Waypoint</li>
        <li>LZ - Landing Zone</li>
        <li>DZ - Drop Zone</li>
        <li>Travel Speed - State of the helicopter where it's behaviour resembles that of a plane (&gt;130km/h)</li>
        <li>Balanced State - Flight Behaviour of a helicopter below ~130km/h (depending on helicopter)</li>
        <li>FRIES - Fast Rope Insertion &amp; Extraction System</li>
    </ul>
</div>
