<div class="container pt-3">

    <h1>Organisation (Outside the game)</h1>
    <ul>
        <li><strong style="color:#087b08">Recruit</strong> - New member of the 7th Rangers.</li>
        <li><strong style="color:#087b08">Member</strong> - Basic rank for a member of the 7th Rangers.</li>
        <li><strong style="color:#087b08">NCO</strong> - Both management and staff involved in managing and administrating the 7th Rangers.</li>
        <li><strong style="color:#087b08">Officer</strong> - Management of the 7th Rangers.</li>
    </ul>

    <hr>
    <h1>Platoon</h1>
    <p>The platoon is the entity organising all other elements on the battlefield. It is the centerpiece of all our deployed units. This makes the platoon leader in charge of the entire operation.</p>

    <h2>Structure</h2>
    <ul>
        <li><strong style="color:#087b08">Platoon Element</strong> - Leadership and supportive element of the platoon, generally operating in a second line behind the frontline.</li>
        <li><strong style="color:#087b08">Squad Elements</strong> - A platoon consists out of up to three squads (Alpha, Bravo & Charlie). Squads are generally the frontline elements and the main element of our platoon.</li>
        <li><strong style="color:#087b08">Support Elements</strong> - There are various possible support elements such as combat engineers, weapons teams, reconnaissance teams, mechanized or armoured teams. Support elements have generally more freedom and are under less strict control of the platoon leadership. Their main task is to support the squad elements and help them succeed with their tasks. Their freedom enables them to apply their special abilities to their fullest potential.</li>
    </ul>
    <img src="wiki/images/PL_Struc2.png" alt="Platoon Structure" style="width: 250px;background-color: black">

    <h2>Platoon Element Roles</h2>
    <ul>
        <li><strong style="color:#087b08">Platoon Leader</strong> - The Platoon Leader is in charge of the Platoon and the entire operation.</li>
        <li><strong style="color:#087b08">Platoon Sergeant</strong> - The Platoon Sergeant is the 2nd in command of the Platoon and generally is an engineer.</li>
        <li><strong style="color:#087b08">Platoon Medic</strong> - The Platoon Medic is in charge of any triage station and generally is responsible to respond to casualties.</li>
        <li><strong style="color:#087b08">Platoon Operators</strong> - Operators attached to the Platoon to protect and support the Platoon Leader, Sergeant and Medic.</li>
    </ul>
    <p>
        Regularly the Platoon Element splits into two teams. The Platoon Leader and Medic assume a more passive role, while the Sergeant is taking a more aggressive role. In these cases the Platoon Leader and Medic will remain in the second line supporting Squads in need of assistance, while the Sergeant Element, in addition to supporting other squads, may protect the flanks of the Platoon, scout ahead or provide overwatch.
        Furthermore, the Platoon Leader may delegate leadership responsibilities to the sergeant regarding the execution of general orders. Although the Platoon Leader will always define the objects of the Platoon. The Platoon Sergeant can also act as a runner for the Platoon Leader. It has to be noted that no individual ever operates alone.
    </p>

    <h2>Command Line of Succession</h2>
    <ol>
        <li>Platoon Leader</li>
        <li>Platoon Sergeant</li>
        <li>Squad Leaders (Alpha to Charlie) or whoever their successor within the squad / if a squad is combat ineffective another squad leader of a combat effective squad may take command breaking the succession from (Alpha to Charlie) in advantage of keeping momentum.</li>
    </ol>
    <p>The mission shall be continued. The death of the Platoon Leader shall not impact the overall objective neither the general decision-making regarding the mission. If the original first in command is part of a reinforcement wave he may take control from his successor. The successor has to hand over command as soon the situation allows and the original commander is in a position to do so, meaning he is back in the vicinity of the active units in the area of operations.</p>

    <h2>Special Weapons</h2>
    <p>Special Weapons e.g. MMG or MAT will be assigned by the Platoon Leader. Generally Medium or Heavy Anti-Tank Weaponry should be assigned to smaller Elements such as a smaller Squad, Support Element or the Platoon Element itself to allow for a more flexible deployment in the field while full-size Squads remain versatile.</p>

    <hr>
    <h1>Squad</h1>
    <p>A squad consists of one Squad Leader, 6 Operators, and one Combat Medic. Usually the squad splits itself into three Fire Teams. The Operators each form a Fire Team Blue and Red. The Squad Leader and Combat Medic form the Command Element. Although they might split up and move with one of the Fire Teams each. Squad cohesion is essential to ensure a combat effective and working unit.</p>
    <ul>
        <li><strong style="color:#087b08">Cohesion</strong> - Stick together at all times. Move in appropriate intervals and maintain formation.</li>
        <li><strong style="color:#087b08">Communication</strong> - Maintain communication. Confirm orders. Relay and receive important information.</li>
        <li><strong style="color:#087b08">Order</strong> - Maintain the Chain of Command. Makes sure there is always somebody assigned to take command, if the current Leader is unable to e.g. unconscious. Follow the orders regardless of whether they seem reasonable to you or not.</li>
        <li><strong style="color:#087b08">Sector Security</strong> - Ensure a 360° Security at all time. All Sectors must be covered.</li>
        <li><strong style="color:#087b08">2nd in Command</strong> - The 2IC is responsible to enforce the order given by the Squad Leader and ensure their timely and proper execution.</li>
    </ul>
    <img src="wiki/images/Untitled+drawing.png" alt="Platoon Structure" style="width: 750px;background-color: black">

    <hr>
    <h1>Fire Team</h1>
    <p>Fire Teams ensure that every person will always look out and operate closely with at least another person at all times.</p>
    <ul>
        <li><strong style="color:#087b08">Leadership and Succession</strong> - Both Blue and Red have an appointed Fire Team Leader. Those FTLs are successors of the Squad Leader.</li>
        <li><strong style="color:#087b08">Cohesion</strong> - Stick together at all times. Maintaining Talking Distance and Line of Sight.</li>
        <li><strong style="color:#087b08">Communication</strong> - Communicate your actions so your Fire Team can support you e.g. call when you move, so he can cover. The FTL will communicate on behalf of the Fire Team on squad net. Generally every member should evaluate whether a message needs to relayed on the radio or can be shared in proximity.</li>
        <li><strong style="color:#087b08">Responsibility</strong> - You are responsible for each other, that includes covering each other's backs. Recover him if wounded. Share ammunition and equipment.</li>
        <li><strong style="color:#087b08">Accountability</strong> - Ensure that you inform your buddy when switching position or moving. He needs to be able to rely on you. Never leave a buddy behind.</li>
    </ul>

    <hr>
    <h1>Support Elements</h1>
    <p>Support Elements can be Ground Support Elements like Recon Units or any ground based Vehicle Units. Furthermore, there are Air Units, mainly Rotary, which can either serve logistical or fire support roles. All of these elements have the task of supporting the main element.</p>
    <table class="table">
        <thead>
        <tr>
            <th><strong style="color:#087b08">Call-signs</strong></th>
            <th><strong style="color:#087b08">Unit Type</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Sierra</td>
            <td>Recon / Sniper Team</td>
        </tr>
        <tr>
            <td>Echo</td>
            <td>Platoon Support / Combat Engineers</td>
        </tr>
        <tr>
            <td>Foxtrot</td>
            <td>Armoured / Mechanized Unit</td>
        </tr>
        <tr>
            <td>Rodeo</td>
            <td>Aviation Unit (Rotary)</td>
        </tr>
        <tr>
            <td>Sergeant</td>
            <td>Platoon Sergeant</td>
        </tr>
        <tr>
            <td>FAC</td>
            <td>Forward Air Controller</td>
        </tr>
        <tr>
            <td>Whiskey</td>
            <td>Aviation Unit (Fixed-Wing)</td>
        </tr>
        </tbody>
    </table>
    <p>More details can be found in their Handbook Sections.</p>

    <hr>
    <h1>Roles & Loadouts</h1>
    <p>This section is outlining the available roles & loadouts deployed in our unit. We use various sets of loadouts resembling several military units from different countries. Sets are categorized in three categories.</p>

    <h2>Loadout Tiers</h2>
    <ul>
        <li><strong style="color:#087b08">Tier 3</strong> - Basic military unit with basic gear and equipment.</li>
        <li><strong style="color:#087b08">Tier 2</strong> - More advanced military unit with more advanced gear such as UAVs.</li>
        <li><strong style="color:#087b08">Tier 1</strong> - Special Forces unit with related gear and equipment profile.</li>
        <li><strong style="color:#087b08">Tier 0</strong> - Near-future (vanilla) gear and equipment.</li>
    </ul>
    <p>A Lists of the loadout sets and the different units can be found <a href="https://docs.google.com/spreadsheets/d/1n35gWWpEyXhJDm3nVUvsxjJHThSSJgwXwH_gZGxaMxs/edit?usp=sharing">here</a>.</p>

    <h2>Platoon Level Loadouts</h2>
    <ul>
        <li><strong style="color:#087b08">Platoon Leader (PL)</strong> - The Platoon Leader carries a carbine with grenade launcher as well as colored smoke to mark positions.</li>
        <li><strong style="color:#087b08">Platoon Engineer (PE)</strong> - The Platoon Engineer carries a battle rifle in addition to his engineer equipment (engineer specialisation loadouts are outlined below)</li>
        <li><strong style="color:#087b08">Platoon Medic (PM)</strong> - The Platoon Medic carries a carbine and a substantial amount of medical gear.</li>
        <li><strong style="color:#087b08">Forward Air Controller (FAC)</strong> - The Forward Air Controller carries a carbine and long-range radio.</li>
        <li><strong style="color:#087b08">Platoon DMR (PDMR)</strong> - The Platoon DMR carries a DMR with a high magnification scope.</li>
        <li><strong style="color:#087b08">Platoon UAV (UAV)</strong> - The Platoon UAV has a UAV drone.</li>
    </ul>

    <h2>Squad Level Roles</h2>
    <ul>
        <li><strong style="color:#087b08">Squad Leader (SL)</strong> - The squad leader carries a carbine with a grenade launcher and some explosives.</li>
        <li><strong style="color:#087b08">Rifleman (R)</strong> - Basic Rifleman with an assault rifle.</li>
        <li><strong style="color:#087b08">Specialist (SPC)</strong> - The specialists carries a carbine and mini grenades.</li>
        <li><strong style="color:#087b08">Automatic rifleman (AR)</strong> - Light Machine Gunner, focused on suppressing enemies.</li>
        <li><strong style="color:#087b08">Squad DMR (SDMR)</strong> - The Squad DMR carries an assault rifle configured as DMR with magnified optics.</li>
        <li><strong style="color:#087b08">Grenadier (G)</strong> - The grenadier has an assault rifle with a grenade launcher.</li>
        <li><strong style="color:#087b08">Light Anti-Tank Rifleman (LAT)</strong> - A LAT carries an assault rifle and a disposable rocket launcher.</li>
        <li><strong style="color:#087b08">Breacher (B)</strong> - A breacher carries a carbine and a shotgun.</li>
        <li><strong style="color:#087b08">Battle rifle (BR)</strong> - A soldier who carries a high caliber battle rifle.</li>
        <li><strong style="color:#087b08">Engineer (EOD)</strong> - An engineer trained in EOD with a mine detector.</li>
        <li><strong style="color:#087b08">Engineer (Demo)</strong> - An engineer with various explosives.</li>
        <li><strong style="color:#087b08">Engineer (Repair)</strong> - An engineer with repair tools trained to repair vehicles.</li>
        <li><strong style="color:#087b08">Engineer (Fortification)</strong> - An engineer with construction kit and mines to fortify positions.</li>
        <li><strong style="color:#087b08">Medium Machine Gunner (MMG)</strong> - Operator with a medium machine gun.</li>
        <li><strong style="color:#087b08">Medium AT Gunner (MAT)</strong> - Operator with a medium AT launcher.</li>
        <li><strong style="color:#087b08">Assistant Medium AT Gunner (Asst. MAT)</strong> - Assistant to the medium AT gunner.</li>
    </ul>

    <h2>Special Roles</h2>
    <ul>
        <li><strong style="color:#087b08">Recon Spotter</strong> - Recon Team Leader and Spotter for the Sniper.</li>
        <li><strong style="color:#087b08">Recon Sniper</strong> - Recon Team Sniper.</li>
        <li><strong style="color:#087b08">Vehicle Commander</strong> - Foxtrot Commander.</li>
        <li><strong style="color:#087b08">Vehicle Crewman</strong> - Foxtrot Crewman.</li>
        <li><strong style="color:#087b08">Vehicle Technician</strong> - Foxtrot Technician who is able to conduct limited vehicle repairs.</li>
    </ul>

    <p>More details regarding the content of the loadouts can be found <a href="https://docs.google.com/spreadsheets/d/1n35gWWpEyXhJDm3nVUvsxjJHThSSJgwXwH_gZGxaMxs/edit?usp=sharing">here</a>.</p>
</div>
