<div class="container pt-3">
    <h2 id="leadership_personnel_roles">Leadership Personnel Roles</h2>
    <p>Each Leadership Personnel has a certain responsibilities which differ from his role within the Platoon.</p>
    <h3 id="platoon_leader">Platoon Leader</h3>
    <p>The Platoon Leader (PL) is commanding the platoon and is ultimately responsible for the operation. This includes both the planing and execution. He assigns the individual objectives for the squads of his platoon as well coordinating with support elements. Furthermore, he manages and assigns the platoon's resources.</p>
    <h3 id="platoon_sergeant">Platoon Sergeant</h3>
    <p>The Platoon Sergeant (SGT) is the second in command of the platoon. His primary responsibility is to ensure that the platoon leader's orders are being executed. Furthermore, he supports the platoon leader in any way possible. He may be sent by the platoon leader to check on an element of the platoon to provide a detailed assessment or to solve any issues.</p>
    <h3 id="squad_leader">Squad Leader</h3>
    <p>The Squad Leader (SL) is responsible for leading his squad by tactically deploying his fire teams and his own element to accomplish the assigned objective.</p>
    <h3 id="fire_team_leader">Fire Team Leader</h3>
    <p>The Fire Team Leader (FTL) is responsible for leading his fire team and executing its assigned objectives.</p>
    <h2 id="tactics">Tactics</h2>
    <p>A tactic is only as good as you are able to execute it. A well executed simple tactic is always more effective than a poorly executed sophisticated one.</p>
    <h3 id="formations">Formations</h3>
    <p>Formations serve multiple purposes, they ensure a good all around security, but also a reliability of a structured frontline. These are primary aimed at squad formations, but they can also be used as a platoon formation.</p>
    <table class="table">
        <tbody>
        <tr class="odd">
            <td><p><strong>Wedge</strong></p></td>
            <td><p><strong>Line</strong></p></td>
            <td><p><strong>Column</strong></p></td>
            <td><p><strong>Staggered Column</strong></p></td>
            <td><p><strong>Diamond</strong></p></td>
        </tr>
        <tr class="even">
            <td><figure>
                <img src="/wiki/images/Wedge.png" title="Wedge.png" width="200" alt="Wedge.png" style="background-color: black" /><figcaption aria-hidden="true">Wedge.png</figcaption>
            </figure></td>
            <td><figure>
                <img src="/wiki/images/Line.png" title="Line.png" width="200" alt="Line.png" style="background-color: black" /><figcaption aria-hidden="true">Line.png</figcaption>
            </figure></td>
            <td><figure>
                <img src="/wiki/images/Column.png" title="Column.png" width="200" alt="Column.png" style="background-color: black" /><figcaption aria-hidden="true">Column.png</figcaption>
            </figure></td>
            <td><figure>
                <img src="/wiki/images/StaggeredColumn.png" title="ColumnStaggered.png" height="200" alt="ColumnStaggered.png" style="background-color: black" /><figcaption aria-hidden="true">ColumnStaggered.png</figcaption>
            </figure></td>
            <td><figure>
                <img src="/wiki/images/Diamond.png" title="Diamond.png" width="200" alt="Diamond.png" style="background-color: black" /><figcaption aria-hidden="true">Diamond.png</figcaption>
            </figure></td>
        </tr>
        <tr class="odd">
            <td><p>default combat area formation</p></td>
            <td><p>attack formation, on contact form a line towards the enemy</p></td>
            <td><p>travelling formation or used in areas with mines</p></td>
            <td><p>travelling formation</p></td>
            <td><p>combat area or close quarters with expected attack from the rear</p></td>
        </tr>
        </tbody>
    </table>
    <p>Based on the terrain you are operating in, formations might not be a perfect as displayed. Often it is more beneficial to slightly leave the formation and follow the terrain for cover and concealment.</p>
    <h3 id="team_movement">Team Movement</h3>
    <p>Group movement techniques which are used for the movement of multiple buddy teams or squads.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Travelling</strong></span> - Continuous movement of all elements used for maximum travelling speed at the expense of protection. Generally for situations where combat is not likely. Spacing is defined by the ability of the elements to support each other if needed.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Travelling Overwatch</strong></span> - Extent of travelling. While the lead element is continuously moving the trail element is moving at various speeds and may halt to provide overwatch. Spacing is defined by the ability of the trail element to provide suppressive fire for the lead element if needed. Use when speed is important, but with more added security.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Successive Bounding</strong></span> - The lead element advances while the trail element covers from an overwatch position. The lead element halts and assumes a forward overwatch position. When the lead element is set, the trail element advances to an overwatch position abreast from the lead element. Once the trail element is in position the procedure repeats. During this movement the trail element avoids moving ahead past the lead element.</li>
    </ul>
    <figure>
        <img src="/wiki/images/SuccBouding.png" title="SuccBouding.png" width="250" alt="SuccBouding.png" style="background-color: black" /><figcaption aria-hidden="true">SuccBouding.png</figcaption>
    </figure>
    <ul>
        <li><span style="color:#087b08"><strong>Alternate Bounding</strong></span> - Covered by the trail element, the lead element advances and assumes a forward overwatch position. When the lead element is set, the trail element advances past the lead element and assumes an overwatch position ahead of the lead element. Once set, the lead element moves ahead again. Both teams leap frog past each other continuously while one of the is always set to cover and only one of them is moving at a time.</li>
    </ul>
    <figure>
        <img src="/wiki/images/AltBouding.png" title="AltBouding.png" width="250" alt="AltBouding.png" style="background-color: black" /><figcaption aria-hidden="true">AltBouding.png</figcaption>
    </figure>
    <ul>
        <li><span style="color:#087b08"><strong>Breaking Contact</strong></span> - When facing an overwhelming enemy force, being caught in a bad position or momentum needs to be maintained, you might need to break contact in an organized manner. Breaking contact is a reversed alternate bounding. While the trail elements halts and provides suppressive fire, the lead element falls back to an overwatch position and then takes over the suppressive fire in order for the trail element to fall back and leap frog past the lead element.</li>
    </ul>
    <ul>
        <li><span style="color:#087b08"><strong>Smoke Assault</strong></span> - Alternate bounding behind a walls of smoke. Covering element is suppressing through the smoke. Addition smoke walls will be produced while the unit advances behind it. Used to cross open terrains and assault bunkers.</li>
    </ul>
    <h3 id="attacking">Attacking</h3>
    <p>A proper attack always consists of multiple elements operating together. Ideally an attack is conducted from multiple sites or at least under the cover of support elements. Elements of an Attack:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Intel</strong></span> - Phase one always should be reconnaissance and the gathering of intelligence in regard to enemy positions and strength, but also the general environment like terrain and other factors influencing the outcome.</li>
        <li><span style="color:#087b08"><strong>Contain</strong></span> - Phase two is the containment of the enemy. You want to cut off their supply and reinforcement routes. This is important in order to maintain control and prevent exterior influences.</li>
        <li><span style="color:#087b08"><strong>Prepare</strong></span> - Depending on the availability and general situation you might want to prepare an attack by laying down massive fire at the enemy before moving in. Ideally the suppressive fire continues even while assault elements are moving into position.</li>
        <li><span style="color:#087b08"><strong>Surprise</strong></span> - Often the element of surprise might be more important than the preparation of the enemy.</li>
        <li><span style="color:#087b08"><strong>Flexibility</strong></span> - Any plan is only as good as its execution, and you cannot foresee how it will develop after first contact.</li>
    </ul>
    <p>Roles for elements in an attack:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Assault Element</strong></span> - Elements which will close in on the enemy and break into their lines in order to destroy them. Speed and momentum is key for success.</li>
        <li><span style="color:#087b08"><strong>Support Element</strong></span> - Elements which provide covering fire to the assault elements. They need to pay attention to not accidentally shooting at the assault elements.</li>
        <li><span style="color:#087b08"><strong>Security Element</strong></span> - Elements which provide area security and ensure the containment of the fight.</li>
    </ul>
    <h3 id="defending">Defending</h3>
    <p>A defense is often defined by the successful balance of holding ground, but also releasing pressure of necessary.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Establish Frontline</strong></span> - A clear frontline is important to maintain overview of the situation. It also allows the creation of kill zones and preparation prior to the combat in an area.</li>
        <li><span style="color:#087b08"><strong>Layers</strong></span> - Each defense should always have around three layers if possible, especially static defenses. There are three categories of layers.
            <ul>
                <li><span style="color:#087b08"><strong>Final Stand</strong></span> - The last fallback position. This position is the last option.</li>
                <li><span style="color:#087b08"><strong>Main Position</strong></span> - The position selected to hold and defend. The majority of resources is being directed to fortify and hold it. It is the center of the defense.</li>
                <li><span style="color:#087b08"><strong>Forward Position</strong></span> - Position to spot the enemy before their arrival at the Main Position. Used to gain intel and engage the enemy to slow them down prior to the main line of defense at the Main Position. Only light resources like trenches are being committed to build that position. Once an initial contact with the enemy has been made, this position will be abandoned and all elements focus on holding the Main Position.</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Pressure Management</strong></span> - Ideally you want to keep up the pressure at the enemy and limit their ability to freely manoeuvre. On the other hand you do not want your frontline to burst from the incoming pressure. Ideally you manage the pressure by using the layers and based on that you either fall back or advance. Note that the enemy might not realize immediately that you release pressure by falling back a layer, if the prior level of pressure was high. If done correctly it will take them a moment to realize that you fell back which, if time is a factor, is working in your favour.</li>
        <li><span style="color:#087b08"><strong>Kill Zones</strong></span> - When using layer and time is available for preparation you may chose layer position and the terrain layout to direct the enemy into certain predefined areas. Ideally you positioned forces in a manner which then will turn these areas in the kill zones.</li>
    </ul>
    <h3 id="close_quarter_battle">Close Quarter Battle</h3>
    <p>When operating in cities and other close quarter environments a more systematic and surgical approach is required.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Segment</strong></span> - If operating in a town or city you want to segment it into multiple sectors. Usually roads are desired borders of sectors. Ideally these sectors are predefined and known to all elements.</li>
        <li><span style="color:#087b08"><strong>Sweep</strong></span> - Sweep one sector at a time and make sure it is cleared and secured.</li>
        <li><span style="color:#087b08"><strong>Control</strong></span> - Maintain the integrity of your sector borders. Position support elements to ensure that your sectors stay clear and their borders protected. When advancing the sweep a hostile controlled sector, already try to control its borders, at least those you can from your own controlled sectors. Since sector borders may often be roads, they shall be kill zones.</li>
        <li><span style="color:#087b08"><strong>Contain</strong></span> - Contain the close quarter environment and protect it from exterior influences. In regard to a town, that may mean to surround it before moving in while keeping a perimeter around it. If it is not possible to surround a town, then it is important to attempt a block of the main access ways into it.</li>
    </ul>
    <h3 id="platoon_level_triangle">Platoon Level Triangle</h3>
    <ul>
        <li><span style="color:#087b08"><strong>Frontline</strong></span> - Regular Infantry Squads should form the frontline and should move towards the primary enemy positions.</li>
        <li><span style="color:#087b08"><strong>Backline</strong></span> - Platoon- and Support Elements operate behind the frontline. While the frontline faces the primary source of contact, the units in the backline either move out to cover the flanks or directly support a frontline unit in need of support. Alternatively the might move up to the frontline itself to fill gaps between the frontline squads.</li>
        <li><span style="color:#087b08"><strong>Triangle</strong></span> - Reference to the shape of the Platoon formation. Alpha to Delta are forming the frontline and moving parallel to each other. Platoon Element and other Support Elements are moving behind in a central position, ready to rotate wherever needed.</li>
        <li><span style="color:#087b08"><strong>Rotations</strong></span> - The key about the triangle is that the frontline gets into contact and the backline immediately rotates into positions to support the frontline. All units will face contact eventually, but the backline rotations allow quick adjustments and a second line as a safety net when advancing, preventing enemies to slip through.</li>
    </ul>
    <h2 id="leadership">Leadership</h2>
    <h3 id="preparation_planning">Preparation &amp; Planning</h3>
    <p>Whether it is the operation as a whole or only the approach of an objective within, it is always important to be prepared and to have a plan about what to do and what to expect. Time is always an important factor, since it is limited. You should not spend endless amounts of it with planning. Also even the best plan might be worthless as soon as combat starts.</p>
    <h4 id="general_guidelines">General Guidelines</h4>
    <ul>
        <li><span style="color:#087b08"><strong>Known</strong></span> - All plans should always be known to all people participating. It helps them to understand their role and purpose within.</li>
        <li><span style="color:#087b08"><strong>Executable</strong></span> - A plan is only as good as its execution. Therefore, it must be executable. Keep it simple and straight forward to ensure a proper execution.</li>
        <li><span style="color:#087b08"><strong>Flexible</strong></span> - Once combat starts the situation might change so drastically that the original plan is not executable anymore. Therefore, alternatives need to be clear and known to all participants.</li>
        <li><span style="color:#087b08"><strong>In Time</strong></span> - Wasting too much time might lead to different situation at the time of execution compared to the time of acquired intelligence on which the plan is based upon.</li>
    </ul>
    <h4 id="mission_preparation">Mission Preparation</h4>
    <p>Five paragraph field order (SMEAC):</p>
    <ul>
        <li><span style="color:#087b08"><strong>Situation</strong></span>
            <ul>
                <li>Enemy Forces
                    <ul>
                        <li>Composition</li>
                        <li>Strength</li>
                        <li>Known Positions</li>
                        <li>Supplies &amp; Reinforcements</li>
                    </ul></li>
                <li>Friendly Forces
                    <ul>
                        <li>Composition</li>
                        <li>Available Assets &amp; Equipment</li>
                        <li>Positions</li>
                        <li>Supplies &amp; Reinforcements</li>
                    </ul></li>
                <li>Environment
                    <ul>
                        <li>Terrain</li>
                        <li>Civilians</li>
                        <li>Weather</li>
                    </ul></li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Mission</strong></span>
            <ul>
                <li>Who, what, where, when and why</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Execution</strong></span>
            <ul>
                <li>Commander's Intent
                    <ul>
                        <li>Goal &amp; desired End-State</li>
                        <li>Sequences of the Plan</li>
                        <li>Undesired Outcome</li>
                        <li>Constraints</li>
                    </ul></li>
                <li>Concept of the Operation
                    <ul>
                        <li>Scheme of Maneuver</li>
                        <li>Fire Support Plan</li>
                    </ul></li>
                <li>Tasks and Instructions</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Administration &amp; Logistics</strong></span>
            <ul>
                <li>CASEVAC and Prisoner Treatment</li>
                <li>Logistics</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>Command &amp; Control</strong></span>
            <ul>
                <li>Special Rules - Any parameters which differ from the usual rules for operations</li>
                <li>Chain of Command - Define who will take over if current assign leader unable to continue</li>
            </ul></li>
    </ul>
    <h3 id="field_leadership">Field Leadership</h3>
    <p>Planning and preparing is one thing, leading in the field during combat is another. During combat everyone may find himself in charge, therefore he should always lead with example whether he is actually a leader or just a member of a unit, since roles can change at any time.</p>
    <ul>
        <li><span style="color:#087b08"><strong>Role Model</strong></span> - If you want to lead people you necessarily will end up telling them to do things. You should at least have a basic understanding of all things. You cannot order someone to do something you do not know how to do yourself in general. Furthermore, you should be a positive example to all around you and inspire them.</li>
        <li><span style="color:#087b08"><strong>Respect</strong></span> - Respect works both ways. You cannot ask for respect from a person you do not treat respectfully yourself. Obviously you are in charge of a unit, and therefore you can expect the required amount of respects from your subordinates, that does not mean that you do not need to treat them respectfully. People should respect you as a person and as a leader based on your actions and behaviour and never just for your rank and role.</li>
        <li><span style="color:#087b08"><strong>Fairness</strong></span> - Things can go south and human nature requires the selection of a guilty person at times. Not only as a leader, everyone should be fair. Your treatment of people should always be fair. Misconduct should be addressed and appropriately handled.</li>
        <li><span style="color:#087b08"><strong>Control</strong></span> - You are in charge of a unit and that means you are in control. It is important to gain, keep and maintain control regardless of the situation. It helps if orders are clear and precise.</li>
        <li><span style="color:#087b08"><strong>Determination</strong></span> - Only those who are determined can reach what they desire. Do not lose focus of your objective. Do what it takes to accomplish what you desire in the realm of possibility.</li>
        <li><span style="color:#087b08"><strong>Communication</strong></span> - It is everyone's duty to keep up the communication within and between elements. That includes switching on other units radio nets if they do not reply on the designated channels and vice versa. Your communication should be clear and precise. Especially as a leader you are always also a communication hub between people. Analyse incoming information and broadcast them accordingly.</li>
    </ul>
    <h3 id="decision_making">Decision Making</h3>
    <p>There is no worse decision than no decision. Do not hesitate to make decision, regardless of what happened before. There are times to question yourself and your previous decisions, but out in the field during combat, people rely on you to lead them and that always includes making decisions.</p>
    <p>Influencing aspects in decision-making:</p>
    <ul>
        <li><span style="color:#087b08"><strong>Before Combat</strong></span>
            <ul>
                <li>Enemy locations (Known and Assumed)</li>
                <li>Are all elements follow the plan</li>
                <li>Proper formation and spacing</li>
                <li>Supporting distance of elements</li>
                <li>Gaps and weaknesses exposed</li>
                <li>Procedure for contact made is clear</li>
                <li>Rules of Engagements are clear</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>During Combat</strong></span>
            <ul>
                <li>Enemy location</li>
                <li>Proper troop placement</li>
                <li>Fire superiority achieved</li>
                <li>Usage of support assets (Artillery &amp; CAS)</li>
                <li>Flank protection</li>
                <li>Weaknesses in enemy positioning</li>
                <li>Momentum of the fight</li>
                <li>Progression</li>
                <li>Prediction of enemy movement and actions</li>
            </ul></li>
        <li><span style="color:#087b08"><strong>After Combat</strong></span>
            <ul>
                <li>Security established</li>
                <li>Status of friendly forces (Casualties &amp; Equipment)</li>
                <li>Supplies and Support needed</li>
                <li>Reorganization of troops</li>
                <li>Distribution of resources</li>
                <li>Next step in the mission</li>
            </ul></li>
    </ul>
</div>
