<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center text-primary">About our Community</h1>
            <p class="lead">7th Ranger Group is an international Arma 3 Milsim community based in Europe, but with
                members from all over the world. Our focus in the game is on overcoming challenges together by
                coordinated and tactical team play. Fast and easy is not our style. We rely on planning, communication
                and deployment of adapted military tactics. While we enjoy more realistic aspects of the game, they have
                to be beneficial to the gameplay experience.</p>
            <hr class="my-4">
            <p class="lead">With our training and mentoring system we provide an accessible and immersive experience
                both for
                experienced and inexperienced members. We continuously support our members as they strive to improve.
                Every new member will receive extensive mentoring to ensure his smooth integration into our unit.</p>
        </div>
    </div>
</div>

<div class="container pb-3">
    <picture>
        <source data-srcset="images/group.webp" type="image/webp">
        <img class="w-100 lazyload" data-src="images/group.png" alt="promo image">
    </picture>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center text-primary">Our Operations</h1>
            <p class="lead text-center">Wednesdays at 19:00 CE(S)T and Saturdays at 20:00 CE(S)T</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card mt-0 mb-3 mx-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-code fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Mission framework</h5>
                        <p class="card-text">In-house created custom Mission Framework to allow for diverse, immersive
                            and challenging missions.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-0 mb-3 mx-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-hands-helping fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Training sessions</h5>
                        <p class="card-text">Weekly and demand based Training Sessions. Including Rotary Training and
                            Qualification Trainings.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-lightbulb fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Enhanced AI</h5>
                        <p class="card-text">Custom AI enhancements to allow for a better coordinated and responsive AI
                            providing a dynamic and challenging battle.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-sitemap fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Structured environment</h5>
                        <p class="card-text">Prepared loadouts, streamlined customizations and structured procedure for
                            less time at base and more time in the field.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-5 d-flex justify-content-center flex-column">
                    <iframe class="w-100 h-75 border-0"
                            src="https://youtube.com/embed/videoseries?list=PLrv79J3rf6b0ceBuVzoxox19iYAUNT-BG"
                            allowfullscreen></iframe>
                </div>
                <div class="col-md-7">
                    <h1 class="display-4 text-primary">Our take on Milsim</h1>
                    <p class="lead">While we do enjoy a realistic simulation, we simplify it where it does not benefit
                        our gameplay. Player experience is more important than real life military procedures. Therefore
                        we do not use a ranking system and unnecessarily strict discipline. We use a modified basic
                        medical system (modified ACE Basic Medical). On the other hand we only allow first person
                        perspective and regulate equipment to facilitate team play. Furthermore we do not have dedicated
                        roles. Instead we trust in our members to take roles they are capable of fulfilling by
                        themselves, aided by our Training System. We are mainly infantry-focused, but not limited
                        to.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-3">
    <picture>
        <source data-srcset="images/heli.webp" type="image/webp">
        <img class="w-100 lazyload" data-src="images/heli.png" alt="promo image">
    </picture>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center text-primary">Our Resources</h1>
            <p class="lead">The unit has multiple resources at its disposal to ensure smooth operations. These resources
                include: a dedicated Arma 3 server as well as a custom made bot for general unit administration. The
                unit also makes use of a carefully tailored modset to enhance the gameplay experience for the community.
                These mods (Totaling around 50GB) include but are not limited to: ACRE2, ACE3, RHS Escalation as
                well as a number of smaller and custom made mods designed to bring out the best experience.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card mt-0 mb-3 mx-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-cloud-download-alt fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Arma3Sync repository</h5>
                        <p class="card-text">We are using Arma3 Sync and our own repository for easy mod distribution
                            and update management.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-0 mb-3 mx-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-heartbeat fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Custom medical system</h5>
                        <p class="card-text">We are using a Custom Medical System based on ACE3 Basic Medical System
                            with expanded features like poisoning.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card m-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-cogs fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Custom AI modifications</h5>
                        <p class="card-text">We are using AI modifications and equipment balancing to further increase
                            the gameplay experience in our operations.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-3 col-sm">
            <div class="row no-gutters">
                <div class="col-md-3 d-flex justify-content-center align-items-center text-primary p-3">
                    <i class="fas fa-user-clock fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Quality of life</h5>
                        <p class="card-text">We have multiple custom modifications to improve the quality of life by
                            eliminating unnecessary mechanics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-4 text-primary">Our Expectations</h1>
                    <p class="lead">We are looking for mature people who share our enthusiasm for overcoming challenges
                        by team play and tactics. That requires a basic willingness to improve. The key is improvement,
                        we do not expect any previous experience, we will gladly support each other on our journey
                        forward. In addition we expect an average attendance of once per week or a leave of absence.</p>
                    <p class="lead">Communication and capacity for teamwork are crucial. Every new member will undergo a
                        mentoring program where he will be taught the basic on how we operate. At the end of a trial
                        period, each Recruit has to complete our Infantry Qualification Course to become a full
                        member.</p>
                </div>
                <div class="col-md-4 d-flex justify-content-center flex-column">
                    <img class="w-100 lazyload" alt="promo image"
                         data-src="images/ii1.jpg">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pb-3">
    <picture>
        <source data-srcset="images/hummvee.webp" type="image/webp">
        <img class="w-100 lazyload" data-src="images/hummvee.png" alt="promo image">
    </picture>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container text-center">
            <h1 class="display-4 text-primary text-center">How to Join</h1>
            <p class="lead text-center">We are always looking for friendly, mature and respectful players. If you want
                to become a part of our community you can leave an application. A Recruiter will process your
                application and guide you through our process.</p>

            <a type="button" class="btn btn-primary btn-lg" href="https://www.7th-ranger.com/armarecruitment">
                <i class="fas fa-sign-in-alt"></i>
                Submit application
            </a>
        </div>
    </div>
</div>

<div class="container pb-3">
    <picture>
        <source data-srcset="images/boom.webp" type="image/webp">
        <img class="w-100 lazyload" data-src="images/boom.png" alt="promo image">
    </picture>
</div>

<div class="container-fluid pt-3">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-center text-primary">Would you like to know more?</h1>
            <p class="lead text-center">Feel free to drop by on our Discord or Teamspeak (ts.7th-Ranger.com) if you have
                any remaining questions. You can also have a look at our
                <a href="https://www.7th-ranger.com/armaguide" class="text-decoration-none">handbook</a>
                to learn more about our procedures and tactics. We are looking forward to your visit!</p>

            <div class="d-flex justify-content-evenly">
                <a type="button" class="btn btn-secondary btn-lg" href="ts3server://ts3.7th-ranger.com?port=9375">
                    <i class="fab fa-teamspeak"></i>
                    Join our TeamSpeak
                </a>
                <a type="button" class="btn btn-secondary btn-lg" href="https://discord.gg/vbFMQXe">
                    <i class="fab fa-discord"></i>
                    Join Discord
                </a>
            </div>
        </div>
    </div>
</div>
