<div class="container pt-3">

    <h1 class="lead">
        Hello {{user.name}}
    </h1>

    <hr>

    <h1 class="lead">
        <i class="fas fa-link"></i>
        Account links
    </h1>

    <p>Please select your Teamspeak and Steam accounts, this is used for synchronization of your rank and roles.</p>

    <div class="row">
        <div class="input-group flex-nowrap col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fab fa-discord fa-fw"></i>
                </span>
            </div>
            <input disabled type="text" class="form-control" placeholder="Discord user" aria-label="Username"
                   aria-describedby="addon-wrapping" value="{{user.name}}">
        </div>

        <div class="input-group flex-nowrap col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fab fa-teamspeak fa-fw"></i>
                </span>
            </div>
            {{#if user.ts3User}}
                <input type="text" class="form-control" placeholder="Teamspeak user" aria-label="Username"
                       aria-describedby="addon-wrapping">
            {{else}}
                <a class="btn w-100 btn-teamspeak" href="/user/link/ts3">Link</a>
            {{/if}}
        </div>

        <div class="input-group flex-nowrap col-md-4">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fab fa-steam fa-fw"></i>
                </span>
            </div>
            {{#if user.steamUser}}
                <input type="text" class="form-control" placeholder="Discord user" aria-label="Username"
                       aria-describedby="addon-wrapping">
            {{else}}
                <a class="btn w-100 btn-steam disabled" href="/user/link/steam">Coming soon™</a>
            {{/if}}
        </div>
    </div>
</div>
