$primary: #087b08;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

$custom-colors: (
    "teamspeak": #2980C3,
    "discord": #5865f2,
    "steam": #171A21,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/offcanvas";
@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";

html {
    body {

        figcaption {
            display: none;
        }

        .banner {
            background-image: url("/images/background.webp");
            min-height: 100px;
            display: flex;
            justify-content: center;

            img {
                max-width: 100%;
                align-self: center;
            }
        }

        .form-control:disabled {
            color: #81878c;
        }

        .form-control:focus {
            border-color: $primary;
            box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
        }

        .justify-content-evenly {
            justify-content: space-evenly !important;
        }

        // Overrides for bootstrap-select
        div.bootstrap-select {
            background-color: $input-bg !important;
            border: 1px solid $input-border-color !important;

            .filter-option-inner-inner {
                color: $input-color !important;
            }

            &.disabled {
                background-color: $input-disabled-bg !important;
                pointer-events: none;
            }

            &.show {
                outline: 0 !important;
                border-color: $primary !important;
                box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
            }

            button.dropdown-toggle {
                background-color: transparent !important;
                border-color: transparent !important;

                &:focus {
                    outline: 0 !important;
                    border-color: $primary !important;
                    box-shadow: 0 0 0 0.2rem rgba($primary, 0.25);
                }

                &:active {
                    background-color: inherit !important;
                }
            }

            .dropdown-item {

                &:active, &.active:hover {
                    color: white !important;
                }

                &.selected {

                    color: white !important;
                    background-color: $primary !important;

                    &:hover {
                        color: white !important;
                        background-color: darken($primary, 7.5%) !important;
                    }
                }
            }
        }
    }
}

footer {
    text-align: center;
}

$attendance-color: $primary;
$loas-color: #f05b4f;

.ct-series-a .ct-point, .ct-series-a .ct-line {
    stroke: $attendance-color;
}

.ct-series-b .ct-point, .ct-series-b .ct-line {
    stroke: $loas-color;
}

.ct-legend {
    position: relative;
    z-index: 10;
    list-style: none;
    text-align: center;
    user-select: none;

    li {
        position: relative;
        padding-left: 23px;
        margin-right: 10px;
        margin-bottom: 3px;
        cursor: pointer;
        display: inline-block;
    }

    li:before {
        width: 15px;
        height: 15px;
        margin-top: 4px;
        position: absolute;
        left: 0;
        content: '';
        border: 3px solid transparent;
        border-radius: 2px;
    }

    li.inactive:before {
        background: transparent;
    }

    &.ct-legend-inside {
        position: absolute;
        top: 0;
        right: 0;

        li {
            display: block;
            margin: 0;
        }
    }

    $ct-series-colors: $attendance-color, $loas-color;

    @for $i from 0 to length($ct-series-colors) {
        .ct-series-#{$i}:before {
            background-color: nth($ct-series-colors, $i + 1);
            border-color: nth($ct-series-colors, $i + 1);
        }
    }
}
