<footer>
    <p>7th Ranger Group - All rights reserved</p>
</footer>

<script src="/js/lazysizes.min.js"></script>
<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/gijgo.min.js"></script>
