<title>7R{{#if title}} - {{title}}{{else}}{{/if}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base href="/">

<link rel="stylesheet" href="/stylesheets/chartist.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css">
<link rel="stylesheet" href="/stylesheets/main.css">

<script src="/js/chartist.min.js"></script>
<script src="/js/chartist-plugin-legend.js"></script>
<script async src="/js/solid.min.js"></script>
<script async src="/js/brands.min.js"></script>
<script async src="/js/fontawesome.min.js"></script>
