<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand p-0" href="/">
            <img src="images/logo.webp" height="40" alt="logo">
        </a>
        {{#unless user}}
            <a type="button" class="btn btn-primary d-lg-none" href="/auth">Join 7R</a>
        {{/unless}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                {{#hasPermission user 'READ_OPERATIONS_ACTIVITY'}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/operations">Operations</a>
                    </li>
                {{/hasPermission}}
                {{#hasPermission user 'EDIT_RANKS'}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/ranks">Ranks</a>
                    </li>
                {{/hasPermission}}
                {{#hasPermission user 'EDIT_ROLES'}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/roles">Roles</a>
                    </li>
                {{/hasPermission}}
                {{#hasPermission user 'EDIT_BADGES'}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/badges">Badges</a>
                    </li>
                {{/hasPermission}}
                {{#hasPermission user 'EDIT_USER_RANK'}}
                    <li class="nav-item">
                        <a class="nav-link active" href="/users">Users</a>
                    </li>
                {{/hasPermission}}
            </ul>
            <ul class="navbar-nav me-3">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://discord.gg/vbFMQXe">
                        <i class="fa-brands fa-discord fa-lg fa-fw"></i>
                        <span class="d-lg-none">Discord</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ts3server://ts3.7th-ranger.com?port=9375">
                        <i class="fa-brands fa-teamspeak fa-lg fa-fw"></i>
                        <span class="d-lg-none">Teamspeak</span>
                    </a>
                </li>
                {{#if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            My account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!--                            <a class="dropdown-item" href="/user">My profile</a>-->
                            <!--                            <div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="/auth/logout">Logout</a>
                        </div>
                    </li>
                {{else}}
                    <li class="nav-item ms-3">
                        <a type="button" class="d-none d-lg-block btn btn-primary" href="/auth">Join 7R</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
